<div id="buy-tickets">
    <script type="text/javascript">
    eventbrite_event = "10219600099";
    eventbrite_view = "tickets";
    eventbrite_width = "870";
    eventbrite_height = "350";
    </script>
    <script type="text/javascript" src="http://www.eventbrite.com/static/js/events.js"></script>
</div>
