<div id="feedback">
    <div class="quote">
        <blockquote>
            <p>A friendly, different night out and mezmerizing. I had a fantastic night and can't wait to come back.</p>
            <p class="author">&#8212;Caroline Newman, Essex</p>
        </blockquote>
    </div>

    <div class="quote">
        <blockquote>
            <p>Something unusual, men and woman can enjoy it equally, and it's unusual to have such a glamorous night out.</p>
            <p>
                This probably wasn't the desired effect but as me and my companion left the club we started our own little burlesque show in the middle of Piccadilly.
                It's impossible to leave Wambam and not feel sexy.
            </p>
            <p class="author">&#8212;Kate Stamp, Kingston</p>
        </blockquote>
    </div>
    
    <div class="quote">
        <blockquote>
            <p>Glitzy, friendly and relaxed.</p>
            <p class="author">&#8212;Hannah Gollancz, London, Angel</p>
        </blockquote>
    </div>
    
    <div class="quote">
        <blockquote>
            <p>Fantastic! Really good fun, brilliant atmosphere and excellent venue.</p>
            <p class="author">&#8212;John Banks, London</p>
        </blockquote>
    </div>
    
    <div class="quote">
        <blockquote>
            <p>Gorgeous venue, entertaining evening out, classy burlesque.</p>
            <p>
                It was so much fun! Especially the crash course in burlesque before the evening performance.
                Am in love with the big feather fans and have vowed to buy some for myself to play with.</p>
            <p>The show itself was a great combination of beautiful burlesque routines and comedy - just right in my opinion.</p>
            <p class="author">&#8212;Anja Rossau, London</p>
        </blockquote>
    </div>
    
    <div class="quote">
        <blockquote>
            <p>A fun and different evening, great atmosphere, great performances.</p>
            <p class="author">&#8212;Victoria Mills, Essex</p>
        </blockquote>
    </div>
    
    <div class="quote">
        <blockquote>
            <p>
                The staff are friendly, helpful and professional.
                The performances were fun and entertaining and the after party and night club have a good atmosphere.
                It's also a nice change from your conventional night clubs.
            </p>
            <p>Because of it's themes you get to dress up specially for the evening, in items you wouldn't usually have the opportunity to wear.</p>
            <p class="author">&#8212;Becky Grover, Kent</p>
        </blockquote>
    </div>
    
    <div class="quote">
        <blockquote>
            <p>Had a great evening, enjoyed the venue, the old fashioned caberet feel, and the show.</p>
            <p>People were also quite friendly and chatted which make a real nice change in the big city.</p>
            <p>It's good to have the separate room at the end and an opportunity to stay till late.</p>
            <p class="author">&#8212;Eleanor Searson, NW London</p>
        </blockquote>
    </div>
    
    <div class="quote">
        <blockquote>
            <p>I would recommend Wam Bam because it was excellent value for money - there was something to suit everyone and then the music afterward in the club was varied enough so we were able to continue a great night out in the one place - what's not to like?!</p>
            <p class="author">&#8212;Michala Rudman, Cardiff</p>
        </blockquote>
    </div>
    
    <div class="quote">
        <blockquote>
            <p>Wam Bam makes a night of an evening. It's very well put together, plenty of variety and a great show case for new acts.</p>
            <p class="author">&#8212;Mark Nilski, Surrey</p>
        </blockquote>
    </div>
</div>