<div id="slideup"></div> 
<div id="footer">
    <div id="feather"></div>
    <p>
        <a href="../privacy.html">Privacy Policy</a> | <a href="../terms-of-use.html">Terms Of Use</a> | <a href="../contact.html">Contact Us</a><br />
        (c) 2006-<?php print Date("Y"); ?> Wam Bam Club. All rights reserved. Site design by <a style="color: white; text-decoration: none;" href="mailto:mike@webventurer.com">Mike Mindel</a>.<br />
        Wam Bam Club, BLOOMSBURY BALLROOM, Victoria House, Bloomsbury Sq, West End, London WC1B 4DA
    </p>
</div>
<input type="hidden" id="hidLocation" value="http://www.clicksensa.com/cpv/" />
<script type="text/javascript" src="http://www.clicksensa.com/cpv/landing.js"></script>
<img src="http://www.clicksensa.com/cpv/adck.php?c=29&l=xxx&r=<?php print echo(base64_encode($_SERVER['HTTP_REFERER'])) ?>" />