    <!--[if IE 6]>
    <script type="text/javascript" src="../assets/js/DD_belatedPNG_0.0.8a-min.js"></script>
    <script>
        DD_belatedPNG.fix('#header, #header #logo, #header #act, #header #review');
        DD_belatedPNG.fix('#home #wrapper #content-wrapper, #home #sidebar #gold-frame, #home #sidebar p img');
    </script>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
