    <?php
        require_once("ie.html");
        require_once("common.php");
        if (! isIE6()) {
    ?>
        <link href="/assets/css/slideup.css" rel="stylesheet" type="text/css" />
        <script type="text/javascript" src="/assets/js/slideup.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.include.js"></script>
        <script type="text/javascript" src="/assets/js/jquery.cookie.js"></script>
    <?php } ?>
        
    <script type="text/javascript" src="http://use.typekit.com/wti6vxu.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <script type="text/javascript">
    $(function() {
      if($.cookie('dont_show') == null) {
        $.include({ 'slideup.html':function(data){$("#slideup").html(data)}} );
      }
    });
    </script>
