  <h3>2018 Tour Dates</h3>
  <!--<p>WAM BAM CLUB are proud to host our Christmas festive season at the Elgar Room @ Royal Albert Hall, London and our tour dates for 2018.</p>

  <p>&nbsp;</p>

  <h4>Royal Albert Hall, London</h4>
  <ul>
	  <li><a href="https://www.royalalberthall.com/tickets/events/2017/wam-bam-club-christmas-special/" target="_blank">Dec 2nd, 2017</a></li>
  </ul>

  -->
  <p>&nbsp;</p>

  <h4>Camberley Theatre, Camberley</h4>
  <ul>
	  <li><a href="https://www.camberleytheatre.biz/events/wam-bam-club" target="_blank">Mar 9th, 2018</a></li>
  </ul>

  <p>&nbsp;</p>

