/* Accordion styles */

@media (max-width: 768px) {

	#info {
		background: $purple-dark;
		transition: padding 0.3s ease;
		section {
			.section__content {
				position: static;
				top: auto;
				-webkit-transform:translate(0, 0);
				   -moz-transform:translate(0, 0);
				    -ms-transform:translate(0, 0);
				     -o-transform:translate(0, 0);
				        transform:translate(0, 0);
				background: $purple-dark-alt;
			}
			.section__content-inner {
				padding: 10% 0;
				margin: 0 auto;
			}
			h2 { display: none; }
		}

		.active-tab {
			z-index: 80;
		}

		.tab__buttons {
			position: absolute;
			top: 0;
			padding: 0;
			background: transparent;
			.tab__button {
				display: block;
				width: 100%;
				padding-left: 0;
				transition: padding 0.3s ease;
			}
		}
		.tab__overflow-indicator {
			display: none;
		}

		#info__gallery {
			.section__content-inner {
				padding: 0;
			}
		}

	}

}

@media (min-width: 769px) {

	#info {
		padding: 0 !important;
		.tab__buttons {
			.tab__button {
				padding-bottom: 0 !important;
			}
		}
	}
	
}