/* BANNERS */

@media (min-width: 1365px) {
	header {
		#header__inner {
	        -webkit-transition: all 0.3s ease, background 0s;
	           -moz-transition: all 0.3s ease, background 0s;
	            -ms-transition: all 0.3s ease, background 0s;
	                transition: all 0.3s ease, background 0s;
		}
	}
	#header__logo {
		-webkit-transition: all 0.3s ease;
           -moz-transition: all 0.3s ease;
            -ms-transition: all 0.3s ease;
                transition: all 0.3s ease;
	}
}

#banner {
	article {
		h2, button, .cta-button {
			opacity: 0;
		}
	}
	article.ns_selected {
		h2, button, .cta-button {
			opacity: 1;
		}
		h2 {
			-webkit-animation: fadeIn 1.5s ease, slideUp 2s ease;
			   -moz-animation: fadeIn 1.5s ease, slideUp 2s ease;
			    -ms-animation: fadeIn 1.5s ease, slideUp 2s ease;
			     -o-animation: fadeIn 1.5s ease, slideUp 2s ease;
			        animation: fadeIn 1.5s ease, slideUp 2s ease;
		}
		button, .cta-button {
			-webkit-animation: fadeIn 2.25s ease;
			   -moz-animation: fadeIn 2.25s ease;
			     -o-animation: fadeIn 2.25s ease;
			        animation: fadeIn 2.25s ease;
				    &:hover {
						-webkit-animation: fadeIn 2.25s ease, animatedBorder 1s linear infinite;
						   -moz-animation: fadeIn 2.25s ease, animatedBorder 1s linear infinite;
						    -ms-animation: fadeIn 2.25s ease, animatedBorder 1s linear infinite;
						     -o-animation: fadeIn 2.25s ease, animatedBorder 1s linear infinite;
						        animation: fadeIn 2.25s ease, animatedBorder 1s linear infinite;
				    }
		}
	}

}

/* Webkit */
@-webkit-keyframes fadeIn {
      0% { opacity: 0; }
     66% { opacity: 0; }
    100% { opacity: 1; }
}
@-webkit-keyframes slideUp {
	  0% { -webkit-transform: translateY(1em); }
	 75% { -webkit-transform: translateY(1em); }
	100% { -webkit-transform: translateY(0); }
}

/* Mozilla */
@-moz-keyframes fadeIn {
      0% { opacity: 0; }
     66% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes slideUp {
	  0% { -moz-transform: translateY(1em); }
	 75% { -moz-transform: translateY(1em); }
	100% { -moz-transform: translateY(0); }
}

/* IE */
@-ms-keyframes fadeIn {
      0% { opacity: 0; }
     66% { opacity: 0; }
    100% { opacity: 1; }
}
@-ms-keyframes slideUp {
	  0% { -ms-transform: translateY(1em); }
	 75% { -ms-transform: translateY(1em); }
	100% { -ms-transform: translateY(0); }
}

/* Opera */
@-o-keyframes fadeIn {
      0% { opacity: 0; }
     66% { opacity: 0; }
    100% { opacity: 1; }
}
@-o-keyframes slideUp {
	  0% { -o-transform: translateY(1em); }
	 75% { -o-transform: translateY(1em); }
	100% { -o-transform: translateY(0); }
}

/* Default */
@keyframes fadeIn {
      0% { opacity: 0; }
     66% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes slideUp {
	  0% { transform: translateY(1em); }
	 75% { transform: translateY(1em); }
	100% { transform: translateY(0); }
}

/* BOOK TICKET */

#event {
	#event__bookticket {
		-webkit-transition: left 0.5s ease, height 0s ease;
           -moz-transition: left 0.5s ease, height 0s ease;
             -o-transition: left 0.5s ease, height 0s ease;
                transition: left 0.5s ease, height 0s ease;
	}
}

/* CTA BUTTONS */

button,
.cta-button {
	background-image:
		url('images/cta-button-border.png'),
		url('images/cta-button-border.png'),
		url('images/cta-button-border.png'),
		url('images/cta-button-border.png')
	;
	background-size: 100%;
    background-image: 
        -webkit-linear-gradient(90deg, $gold, $gold-light, $gold-light, $gold),
        -webkit-linear-gradient(0deg, $gold, $gold-light, $gold-light, $gold),
        -webkit-linear-gradient(270deg, $gold, $gold-light, $gold-light, $gold),
        -webkit-linear-gradient(180deg, $gold, $gold-light, $gold-light, $gold) 
    ;
    background-image: 
        -moz-linear-gradient(90deg, $gold, $gold-light, $gold-light, $gold),
        -moz-linear-gradient(0deg, $gold, $gold-light, $gold-light, $gold),
        -moz-linear-gradient(270deg, $gold, $gold-light, $gold-light, $gold),
        -moz-linear-gradient(180deg, $gold, $gold-light, $gold-light, $gold) 
    ;
    background-image: 
        -ms-linear-gradient(90deg, $gold, $gold-light, $gold-light, $gold),
        -ms-linear-gradient(0deg, $gold, $gold-light, $gold-light, $gold),
        -ms-linear-gradient(270deg, $gold, $gold-light, $gold-light, $gold),
        -ms-linear-gradient(180deg, $gold, $gold-light, $gold-light, $gold) 
    ;
        background-image: 
        -o-linear-gradient(90deg, $gold, $gold-light, $gold-light, $gold),
        -o-linear-gradient(0deg, $gold, $gold-light, $gold-light, $gold),
        -o-linear-gradient(270deg, $gold, $gold-light, $gold-light, $gold),
        -o-linear-gradient(180deg, $gold, $gold-light, $gold-light, $gold) 
    ;
	background-image: 
        linear-gradient(90deg, $gold, $gold-light, $gold-light, $gold),
        linear-gradient(0deg, $gold, $gold-light, $gold-light, $gold),
        linear-gradient(270deg, $gold, $gold-light, $gold-light, $gold),
        linear-gradient(180deg, $gold, $gold-light, $gold-light, $gold) 
    ;
	background-size: 200% 3px, 3px 200%;
	background-position:   0%   0, 100% 100%, 100% 100%, 0 0%;
    background-repeat: repeat-x, repeat-y;
    -webkit-box-shadow: 0 0 40px 0px rgba(248, 245, 187, .25);
       -moz-box-shadow: 0 0 40px 0px rgba(248, 245, 187, .25);
            box-shadow: 0 0 40px 0px rgba(248, 245, 187, .25);
    &:hover {
    	-webkit-animation: animatedBorder 1s linear infinite;
		   -moz-animation: animatedBorder 1s linear infinite;
		    -ms-animation: animatedBorder 1s linear infinite;
		     -o-animation: animatedBorder 1s linear infinite;
		        animation: animatedBorder 1s linear infinite;
    }
}

/* Webkit */
@-webkit-keyframes animatedBorder {
	  0% { background-position:   0%   0, 100% 100%, 100% 100%,   0   0%; }
	 25% { background-position:  50%   0, 100% 150%, 150% 100%,   0  50%; }
	 50% { background-position: 100%   0, 100% 200%, 200% 100%,   0 100%; }
	 75% { background-position: 150%   0, 100% 250%, 250% 100%,   0 150%; }
	100% { background-position: 200%   0, 100% 300%, 300% 100%,   0 200%; }
}

/* Mozilla */
@-moz-keyframes animatedBorder {
	  0% { background-position:   0%   0, 100% 100%, 100% 100%,   0   0%; }
	 25% { background-position:  50%   0, 100% 150%, 150% 100%,   0  50%; }
	 50% { background-position: 100%   0, 100% 200%, 200% 100%,   0 100%; }
	 75% { background-position: 150%   0, 100% 250%, 250% 100%,   0 150%; }
	100% { background-position: 200%   0, 100% 300%, 300% 100%,   0 200%; }
}

/* IE */
@-ms-keyframes animatedBorder {
	  0% { background-position:   0%   0, 100% 100%, 100% 100%,   0   0%; }
	 25% { background-position:  50%   0, 100% 150%, 150% 100%,   0  50%; }
	 50% { background-position: 100%   0, 100% 200%, 200% 100%,   0 100%; }
	 75% { background-position: 150%   0, 100% 250%, 250% 100%,   0 150%; }
	100% { background-position: 200%   0, 100% 300%, 300% 100%,   0 200%; }
}

/* Opera */
@-o-keyframes animatedBorder {
	  0% { background-position:   0%   0, 100% 100%, 100% 100%,   0   0%; }
	 25% { background-position:  50%   0, 100% 150%, 150% 100%,   0  50%; }
	 50% { background-position: 100%   0, 100% 200%, 200% 100%,   0 100%; }
	 75% { background-position: 150%   0, 100% 250%, 250% 100%,   0 150%; }
	100% { background-position: 200%   0, 100% 300%, 300% 100%,   0 200%; }
}

/* Default */
@keyframes animatedBorder {
	  0% { background-position:   0%   0, 100% 100%, 100% 100%,   0   0%; }
	 25% { background-position:  50%   0, 100% 150%, 150% 100%,   0  50%; }
	 50% { background-position: 100%   0, 100% 200%, 200% 100%,   0 100%; }
	 75% { background-position: 150%   0, 100% 250%, 250% 100%,   0 150%; }
	100% { background-position: 200%   0, 100% 300%, 300% 100%,   0 200%; }
}