footer {
	width: 100%;
	min-height: 180px;
	padding: 20px 0;
	overflow: auto;
	background: $purple-dark url('images/footer.png') center top no-repeat;
	text-align: center;
	#footer__inner {
		max-width: 1140px;
		padding: 0 20px;
		overflow: auto;
	}
	#footer__logo {
		display: inline-block;
		margin: 0 auto 0.5em;
		text-align: center;
		a { display: inline-block; }
		img { 
			max-height: 100%;
			width: 5em;
		}
	}
	#footer__links {
		margin-bottom: 0.5em;
		.trip-advisor {
			display: none;
		}
	}
	p, ul {
		font-size: 0.75em;
	}
	ul {
		width: 100%;
		margin-bottom: 1.5em;
		li {
			display: inline-block;
			padding: 0 8px;
			border: 1px solid $grey;
			border-width: 0 0 0 1px;
			vertical-align: middle;
			&:first-child {
				padding-left: 0;
				border: none;
			}
		}
		a {
			float: left;
		}
	}
	a {
		color: $white;
		text-decoration: none;
		&:hover {
			color: $gold;
		}
	}
}

@media (min-width: 1140px) {
	
	footer {
		#footer__inner {
			margin: 14px auto;
		}
		#footer__logo {
			position: absolute;
			left: 50%;
			margin: 0 0 0 -55px;
			img {
				width: 7.75em;
			}
		}

		#footer__links,
		#footer__credit {
			width: 50%;
			margin: 35px 0;
			float: left;
		}

		#footer__links {
			padding-right: 75px;
			text-align: left;
			.trip-advisor {
				display: block;
				float: left;
				width: 4.625em;
				margin: 0 1em 1em 0;
			}
		}
		#footer__credit {
			padding-left: 75px;
			text-align: right;
			p {
				line-height: 1.6666666667em;
			}
		}
		ul {
			margin-bottom: 0.5em;
			line-height: 1.6666666667em;
		}
		p, ul {
			font-size: 0.9375em;
		}
	}

}