/* global */

html {
    font-size: 100%;
}

body {
    background: $purple-dark-alt;
    margin: 0;
    font-size: 16px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

form {
    margin: 0 0 2em 0;
    label {
        display: block;
        float: left;
        width: 50%;
        padding: 0.625em;
        span.form-label {
            position: absolute;
            left: -3000px;
        }
        input,
        textarea {
            width: 100%;
            padding: 11px 20px;
            background: none;
            border: 1px solid $white;
            border-radius: 0;
            color: $white;
            line-height: 1.5em;
            outline: none;
        }
        // input { max-width: 20em; }
    }
    .form__submit {
        width: 100%;
        overflow: auto;
        clear: left;
    }
}

@media (max-width: 480px) {

    form {
        label {
            float: none;
            width: 100%;
        }
    }
}

button,
.cta-button {
    display: block;
    padding: 0.7222em 1.888em; // 13 34
    margin: 1.55556em auto 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    color: $gold;
    font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1.125em;
    font-weight: 500;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    &:hover {
        color: $gold;       
    }
}

@media (max-width: 400px) {

    button,
    .cta-button {
        border-width: 2px;
        padding: 0.5454545455em 1.4545454545em;
    }

}

.cta-button {
    display: inline-block;
}

blockquote {
    padding-top: 30px;
    background-image: url('images/icons/testimonial.png');
    background-position: center top;
    background-repeat: no-repeat;
    color: $gold;
    font-size: 2.25em;
    font-family: "adobe-garamond-pro", serif;
    font-weight: 400;
    font-style: italic;
}

cite {
    display: block;
    margin-top: 1em;
    background-position: center top;
    background-repeat: no-repeat;
    color: $white;
    font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
}

@media (max-width: 1023px) {

    body { font-size: 0.875em; } // 14px

}

@media (max-width: 768px) {
    body { font-size: 0.75em; } // 12px
}

@media (max-width: 400px) {

    body { font-size: 0.625em; } // 10px
    body p { font-size: 1.2em; } // 12px

}