body {
	margin-top: 130px;
	padding-top: 3em;
}

#topribbon {
	position: fixed;
	top: 0;
	z-index: 90;
	width: 100%;
	padding: 1em 0;
	background: $black;
	p {
		font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
		font-size: 1em;
		font-weight: 500;
		letter-spacing: 3px;
		line-height: 1em;
		text-align: center;
		text-transform: uppercase;
	}
}

header {
	position: fixed;
	top: 3em;
	z-index: 90;
	width: 100%;
	background: $purple-dark;
	#header__inner {
		box-sizing: content-box;
		padding: 0 15px;
		background: url('images/header.png') center top no-repeat;
	}
	#header__logo {
		position: relative;
		z-index: 95;
		height: 100%;
		padding: 10px 0;
		margin: 0 auto;
		h1 { position: absolute; left: -3000px }
		img { max-height: 110px; }

	}
	#nav__toggle {
		position: absolute;
		top: 49px;
		right: 20px;
		z-index: 99;
		display: block;
		cursor: pointer;
		img { }
	}
	#header__nav {
		ul {
			li {
				a {
					color: $grey;
					font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
					font-size: 1.5em;
					line-height: 1em;
					text-align: center;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						color: $white;
					}
				}
			}
		}
	}
}

@media (max-width: 960px) {

	body {
		margin-top: 75px;
		header {
			#header__nav {
				top: 75px;
				margin-top: 3em;
			}
		}
	}

	header {
		#header__logo {
			overflow: auto;
			.desktop { display: none; }
			.mobile { display: block; float: left; }
		}
		#nav__toggle {
            position: absolute;
            right: 25px;
            top: 24px;
            display: block;
            width: 36px;
            height: 28px;
            padding: 2px 0;
            span {
                display: block;
                width: 100%;
                height: 1px;
                margin-top: 10px;
                background: $gold;
                &:first-child {
                    margin-top: 0;
                }
                &.bar1, &.bar2, &.bar3 {
                    opacity: 1;
                    -webkit-transition: all 0.3s ease;
                    -moz-transition: all 0.3s ease;
                    -ms-transition: all 0.3s ease;
                    transition: all 0.3s ease;
                }
            }
            &.open span {
                &.bar1 {
                    -webkit-transform: translateY(11px) rotate(45deg);
                    -moz-transform: translateY(11px) rotate(45deg);
                    -o-transform: translateY(11px) rotate(45deg);
                    -ms-transform: translateY(11px) rotate(45deg);
                    transform: translateY(11px) rotate(45deg);
                }
                &.bar2 {
                    opacity: 0;
                }
                &.bar3 {
                    -webkit-transform: translateY(-11px) rotate(-45deg);
                    -moz-transform: translateY(-11px) rotate(-45deg);
                    -o-transform: translateY(-11px) rotate(-45deg);
                    -ms-transform: translateY(-11px) rotate(-45deg);
                    transform: translateY(-11px) rotate(-45deg); 
                }
            }
        }
		#header__nav {
			position: fixed;
			top: 125px;
			right: 0;
			z-index: 90;
			display: block;
			width: 100%;
			height: 100%;
			overflow: hidden;
			background: $purple-dark;
			/* Animation */
			-webkit-transition: all 0.15s ease;
			-moz-transition: all 0.15s ease;
			-ms-transition: all 0.15s ease;
			transition: all 0.15s ease;
			-webkit-transform: translateX(100%);
			-moz-transform: translateX(100%);
			-ms-transform: translateX(100%);
			transform: translateX(100%);
			ul {
				padding: 2.5em 0;
				li {
					font-size: 1.4em;
					a {
						display: block;
						padding: 0 15px;
						line-height: 2.5em;
						letter-spacing: 3px;
					}
				}
				.nav__seperator { display: none; }
			}
			&.open {
				-webkit-transform: translateX(0px);
				-moz-transform: translateX(0px);
				-ms-transform: translateX(0px);
				transform: translateX(0px);
			}
		}
	}

}

@media (min-width: 961px) {

	header {
		height: 130px;
		#header__inner {
			height: 130px;
			text-align: center;
		}
		#header__logo {
			width: 10.675em;
			text-align: center;
			a { display: block; }
			img {
				margin: 0 auto;
				&.desktop { display: block; }
				&.mobile { display: none; }
			}
		}
		#nav__toggle {
			display: none;
		}
		#header__nav {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			padding: 0 15px;
			margin: 56px 0;
			ul {
				padding-left: 1.3125em;
				li {
					display: inline-block;
					a {
						display: block;
						padding: 0 18px 0 22px;
						background: url('images/icons/dot.png') left center no-repeat;
					}
					&:first-child a { padding-left: 0; background: none; }
					&:last-child a { padding-right: 0; }
					&.nav__seperator + li a { padding-left: 18px; background: none; }
				}
				.nav__seperator {
					width: 12em;
					height: 1em;
				}
			}
		}
	}

}

@media (min-width: 1025px) {

	header {
		#header__nav {
			margin: 53px 0;
		}
	}

}

@media (min-width: 1365px) {

	body:not(.nav-minified) header {
		#header__inner {
			padding-bottom: 136px;
			background: url('images/header.png') center bottom no-repeat;
		}
		#header__logo {
			width: 19.0625em;
			height: 16.625em;
			padding-top: 2.5em;
			img {
				max-height: 100%;
			}
		}
		#header__nav {
			margin: 65px 0 0;
			ul {
				.nav__seperator {
					width: 16.8125em;
				}
			}
		}
	}

	.nav-minified {
		
		header {
			height: 130px;
			#header__inner {
				height: 130px;
				text-align: center;
			}
			#header__logo {
				width: 10.675em;
				text-align: center;
				a { display: block; }
				img {
					margin: 0 auto;
					max-height: 110px;
					&.desktop { display: block; }
					&.mobile { display: none; }
				}
			}
			#nav__toggle {
				display: none;
			}
			#header__nav {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				padding: 0 15px;
				margin: 56px 0;
				ul {
					padding-left: 1.3125em;
					li {
						display: inline-block;
						a {
							display: block;
							padding: 0 18px 0 22px;
							background: url('images/icons/dot.png') left center no-repeat;
						}
						&:first-child a { padding-left: 0; background: none; }
						&:last-child a { padding-right: 0; }
						&.nav__seperator + li a { padding-left: 18px; background: none; }
					}
					.nav__seperator {
						width: 12em;
						height: 1em;
					}
				}
			}
		}

	}

}