/* 
 * [ Default ]
 * Full width section
 */
section {
	position: relative;
	width: 100%;
	overflow: auto;
	text-align: center;
	.featured-image img, > img, article > img {
		position: static !important;
		display: block;
		width: 100% !important;
		height: auto !important;
	}
	.featured-image span {
		display: block;
	}
	article {
		position: relative;
		text-align: center;
	}
	.section__overlay {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		background: $black;
		opacity: 0.5;
	}
	.section__content {
		position: absolute;
		top: 50%;
		-webkit-transform:translate(0, -50%);
		   -moz-transform:translate(0, -50%);
		    -ms-transform:translate(0, -50%);
		     -o-transform:translate(0, -50%);
		        transform:translate(0, -50%);
		width: 100%;
		max-height: 100%;
		overflow: hidden;
		white-space: initial;
		.section__content-inner {
			width: 50%;
			margin: 0 auto;
			h2 img {
				margin-bottom: 1em;
			}
			ul:not(.iconlist) {
				margin-top: 2em;
				li {
					padding-left: 20px;
					margin-bottom: 1em;
					background: url('images/icons/tick.png') left 2px no-repeat;
					strong {
						color: $white;
					}
				}
			}
		}
		.section__title {
			margin-bottom: 4em;
		}
		p {
			max-width: 100%;
		}
		img {
			position: static !important;
			display: block;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}
}

/* 
 * [ Split ]
 * Two sections within a section container
 * Reduces to tabs in smaller viewports
 */

section {
	&.tab__count--2 {
		> .tab__buttons {
			.tab__button {
				width: 50%;
			}
		}
	}
	.tab__buttons {
		position: relative;
		z-index: 75;
		width: 100%;
		overflow: auto;
		white-space: nowrap;
		.tab__button {
			display: inline-block;
			width: 20%;
			padding-left: 2px;
			&:first-child { padding-left: 0; }
		}
		.tab__button-inner {
			width: 100%;
			padding: 1.25em 0;
			background: $black;
			cursor: pointer;
			font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
			opacity: 0.5;
			small {
				display: block;
				color: $gold;
			    font-family: "adobe-garamond-pro", serif;
			    font-size: 1em;
			    font-style: italic;
			}
			a {
				color: $white;
				font-size: 1.375em;
				letter-spacing: 3px;
				line-height: 1em;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
		.tab__button.active {
			.tab__button-inner {
				background-image: linear-gradient( $grad-purple-light, $grad-purple-dark );
				opacity: 1.0;
			}
		}
		.tab__button:hover {
			.tab__button-inner {
				opacity: 0.75;
			}
		}
	}
}

section {
	section {
		display: none;
		&.active-tab {
			display: block;
		}
	}
}

section {
	&.tab__count--1,
	&.tab__count--2,
	&.tab__count--3,
	&.tab__count--4,
	&.tab__count--5 {
		> .tab__buttons {
			padding: 0;
			.tab__overflow-indicator {
				display: none;
			}
		}
	}
	.tab__buttons {
		padding: 0 8%;
	}
	.tab__buttons-inner {
		overflow: hidden;
	}
	.tab__overflow-indicator {
		position: absolute;
		bottom: 0;
		width: 8%;
		height: 100%;
		background: $purple-med center center no-repeat;
		cursor: pointer;
		&.leftscroll {
			left: 0;
			background-image: url('images/icons/arrow-left.png');
		}
		&.rightscroll {
			right: 0;
			background-image: url('images/icons/arrow-right.png');
		}
	}
}

@media (max-width: 1024px) {

	section {
		.tab__buttons-inner {
			overflow: auto;
			/* Hide scrollbars where possible */
			&::-webkit-scrollbar { display: none; }
			-ms-overflow-style: none;
		}
	}

}

@media (max-width: 1023px) {

	section {
		.tab__buttons {
			background: #222;
		}
	}

}

@media (min-width: 960px) and (max-width: 1280px), (max-width: 480px) {

	#event__dates {
		.tab__buttons {
			.tab__button {
				width: 25%;
			}
		}
	}

}

@media (min-width: 960px) and (max-width: 1023px) {

	#event__dates {
		.section__content-inner {
			margin-bottom: 5.5em;
		}
		.tab__buttons {
			position: absolute;
			bottom: 0;
			background: transparent;
		}
	}

}

@media (min-width: 1024px) {

	section {
		.section__content {
			p {
				//max-width: 350px;
				margin: 0 auto 1em;
			}
		}
	}

	section {
		&.tab__count--2 {
			> .tab__buttons {
				.tab__button {
					
				}
			}
		}

		&.tab__count--3 {
			> .tab__buttons {
				.tab__button {
					width: 33.3333%;
				}
			}
		}
		&.tab__count--4 {
			> .tab__buttons {
				.tab__button {
					width: 25%;
				}
			}
		}
		&.tab__count--5 {
			> .tab__buttons {
				.tab__button {
					width: 20%;
				}
			}
		}
		&.tab__buttons {
			.tab__button {
				width: 50%;
			}
		}
	}

	section {
		.tab__buttons {
			position: absolute;
			bottom: 0;
		}
	}

}

@media (min-width: 1600px) {

	section {
		.tab__buttons {
			padding: 0 5%;
		}
		.tab__overflow-indicator {
			width: 5%;
		}
	}

}

@media (max-width: 640px) {

	section {
		.section__content {
			.section__content-inner {
				width: 75%;
			}
		}
	}

}

@media (min-width: 1024px) and (max-width: 1600px) {

	section:not(#info__gallery) {
		> .section__content {
			.section__content-inner {
				margin-bottom: 5.5em !important;
			}
		}
	}

}	

@media (min-width: 769px) and (max-width: 1600px) {

	#info {
		.section__content {
			.section__content-inner {
				> * {
					max-width: 75%;
				}
			}
		}
		#info__gallery {
			.section__content {
				.section__content-inner {
					> * {
						max-width: initial;
					}
				}
			}
		}
	}

	section:not(#info__gallery) {
		> .section__content {
			.section__content-inner {
				h2 {
					margin: 0 auto 0.5em;
					img {
						margin-bottom: 0;
					}
				}
				button, .cta-button {
					font-size: 1em;
				}
			}
		}
	}

}

@media (min-width: 960px) and (max-width: 1600px) {

	#event {
		#event__dates, #event__acts {
			section, article {
				.section__content {
					.section__content-inner {
						width: 75%;
						> * {
							max-width: initial;
						}
						p {
							width: 100%;
							max-width: 100%;
						}
					}
					.dates__day {
						font-size: 2em;
					}
					.dates__date {
						padding-bottom: 0;
						margin-bottom: 1em;
						background: none;
						img {
							height: 6.25em;
						}
					}
				}
			}
		}
	}

}