/* typography */

body {
    -webkit-font-smoothing: antialiased;
    color: $white;
    font-family: "Kefa", "ff-tisa-web-pro", serif;
    font-weight: 400;
    margin: 0;
}

/*
font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
font-weight: 400 - Book
             500 - Medium
             700 - Heavy
             800 - Extra Bold
font-family: "Kefa", "ff-tisa-web-pro", serif;
font-weight: 400 - Normal
             700 - Bold
font-family: "adobe-garamond-pro";
font-weight: 400
font-style:  italic
*/

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.25em;
    font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
	font-style: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h1 { font-size: 2.500em; font-weight: 500; color: $gold; line-height: 1.25em; margin: 0; }
h2 { font-size: 3.500em; font-weight: 500; }
h3 { font-size: 3.250em; font-weight: 500; color: $white; }
h4 { font-size: 1.375em; font-weight: 500; color: $gold; }
h5 { font-size: 1.500em; font-weight: 400; }
h6 { font-size: 1.250em; font-weight: 400; }

p, li, th, td {
    color: $white;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.125em;
}

p {
    margin-bottom: 1em;
    color: $grey;
    &:last-child {
        margin-bottom: 0;
    }
    strong {
        color: $gold;
        font-weight: 600;
    }
}

a {
    color: $gold;
    text-decoration: underline;
    &:hover {
        color: $white;
    }
}

em {
    color: $gold;
    font-family: "adobe-garamond-pro", serif;
    font-size: 1.375em;
    font-style: italic;
}

th {
    font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
}

::selection { background-color: $white; color: $purple; }
::-moz-selection { background-color: $white; color: $purple; }