/* vars */

$white: 		#fff;
$black: 		#000;

$grey:			#707070;

$gold:			#e0d194;
$gold-light:	#faf7ed;

$purple: 		#2c0d3f;
$purple-alt:	#21082b;
$purple-dark:   #0b091b;
$purple-dark-alt: #140D22;
$purple-med:	#302634;
$purple-pale: 	#4f4853;
$purple-light:  #6b4880;

/* gradients */
$grad-purple-dark: #290b37;
$grad-purple-light: #62157e;