 /*
Theme Name: Nord Theme
Theme URI: http://themeforest.net/user/nordstudio
Author: Nord Studio
Author URI: http://themeforest.net/user/nordstudio
Description: Nord is a minimal and clean Wordpress blog theme. This theme is a content-focused, so perfect for a personal blog. A good choice for travelers, writers, artists, photographers, designers and creative people. Nord has a minimalistic layout that focuses on simplicity and readability. Easy installation allows you to start post blogs immediately after the activation. Theme supported Customizer which allows you to customize and change design of your blog. Nord is 100% responsive built with HTML5 & CSS3, it's SEO friendly, mobile optimized & retina ready.
Version: 1.1.1
Tags: black, white, dark, one-column, right-sidebar, fixed-layout, responsive-layout, flexible-header, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, sticky-post, theme-options, threaded-comments, translation-ready, photoblogging
License: 
License URI: http://themeforest.net/licenses
Text Domain: nord-theme
*/

/**
 * Table of Contents
 *
 * 1.0 - Html, body
 *   1.1 - Wrapper
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Icons
 * 5.0 - Forms
 * 6.0 - Links
 * 7.0 - Alignments 
 * 8.0 - Header
 *   8.1 - Social Profiles
 * 9.0 - Primary Navigation
 * 10.0 - Content
 *   10.1 - Post
 *   10.2 - Navigations
 *   10.3 - Error pages
 *   10.4 - Author Bio
 *   10.5 - Post Formats
 *   10.6 - Comments
 * 11.0 - Media
 *   11.1 - Captions
 *   11.2 - Galleries
 * 12.0 - Footer
 * 13.0 - Sidebar
 *   13.1 - Widgets
 * 14.0 - Accessibility
 * 15.0 - Clearings
 * 16.0 - Media Queries

/**
 * 1.0 - Html, body
 */
html {
  font-size: 14px;
}
 
body {
  font-family: 'Lora', serif;
  line-height: 1.7;
  font-size: 1rem;
  font-weight: 400;
  background: #ffffff;
  color: #414141;
  -webkit-font-smoothing: antialiased;
}

/**
 * 1.1 - Wrapper
 */
.wrapper {
  position: relative;
  z-index: 50;
  background: #222222;
  overflow: auto;
  -webkit-transition: all 0.4s ease-out; 
          transition: all 0.4s ease-out; 
  background-size: cover;
}

.sidebar-open .wrapper {
  -webkit-transform: translateX(-400px); 
      -ms-transform: translateX(-400px); 
          transform: translateX(-400px); 
}

/**
 * 2.0 - Typography
 */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 3rem 0 0.8rem;
  color: #222;
}

h1 {
  font-size: 2.1em;
  letter-spacing: -0.025em;
  line-height: 1.25;
}

h2 {
  font-size: 1.7em;
  line-height: 1.35;
}

h3 {
  font-size: 1.4em;
  line-height: 1.45;
}

h4 {
  font-size: 1em;
}

h5,
h6 {
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 0.1764rem;
}

p {
  margin: 0 0 1.7em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

b,
strong {
  font-weight: 700;
}

blockquote {
  position: relative;
  font-size: 1.1428em;
  font-style: italic;
  line-height: 1.65;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

blockquote:after,
blockquote:before {
  content: '';
  height: 1px;
  width: 40px;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20px;
  background: rgba(0,0,0,0.15);
}

blockquote:after {
  top: auto;
  bottom: 0;
}

blockquote p {
  margin-top: 0;
}

blockquote p:only-child,
blockquote p:last-child {
  margin: 0;
}

pre {
	background-color: #f5f5f5;
	max-width: 100%;
	overflow: auto;
	padding: 2em 2.5em;
  font-family: 'Consolas', 'Courier New', monospace;
	font-size: 0.875em;
	line-height: 1.6;
	white-space: pre;
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 2em 0;
}

/**
 * 3.0 - Elements
 */
ul,
ol {
  margin-bottom: 1.7em;
}

ul li,
ol li {
  margin-bottom: 1rem;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

dl {
	margin-bottom: 1.7em;
}

dd {
	margin-bottom: 1.7em;
}

table,
th,
td {
	border: 1px solid rgba(51, 51, 51, 0.15);
}

table {
	border-collapse: separate;
	border-spacing: 0;
	border-width: 1px 0 0 1px;
	margin: 0 0 1.75em;
	table-layout: fixed; /* Prevents HTML tables from becoming too wide */
	width: 100%;
}

caption,
th,
td {
	font-weight: normal;
	text-align: left;
}

th {
	border-width: 0 1px 1px 0;
}

td {
	border-width: 0 1px 1px 0;
}

th, td {
	padding: 0.4em;
}

img {
	-ms-interpolation-mode: bicubic;
	border: 0;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

figure {
	margin: 0;
}

del {
	opacity: 0.8;
}

/**
 * 4.0 - Icons
 */
.menu-icon {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  top: -1px;
  background: #222;
}

.menu-icon:before, 
.menu-icon:after {
  background: inherit;
}

.menu-icon, 
.menu-icon:before, 
.menu-icon:after {
  height: 2px;
  width: 17px;
  display: inline-block;
  vertical-align: middle;
}

.menu-icon:before, 
.menu-icon:after {
  position: absolute;
  content: '';
}

.menu-icon:before {
  left: 0;
  top: -6px; 
}

.menu-icon:after {
  bottom: -6px;
  left: 0;
}

/**
 * 5.0 - Forms
 */
button,
input,
select,
textarea {
	background-color: transparent;
	border-radius: 0;
	margin: 0;
	max-width: 100%;
	vertical-align: baseline;
	font-size: 1rem;
}

button,
input {
	line-height: normal;
}

input,
textarea,
select {
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)); /* Removing the inner shadow on iOS inputs */
	border: none;
	border: 1px solid rgba(51, 51, 51, 0.14);
	color: #333;
}

input:focus,
textarea:focus,
select:focus {
	background-color: transparent;
	border: 1px solid rgba(51, 51, 51, 0.2);
}

input:focus {
	outline: 2px solid #c1c1c1;
	outline: 2px solid rgba(51, 51, 51, 0.5);
}

button[disabled],
input[disabled],
select[disabled],
textarea[disabled] {
	cursor: default;
	opacity: .5;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  background-color: #57ad68;
  color: #fff;
	border: none;
	cursor: pointer;
	padding: 17px 23px;
	border-radius: 25px;
	font-family: 'Montserrat', serif;
  font-size: 0.7142rem;
  text-transform: uppercase;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  background-color: #468c54;
	outline: 0;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	padding: 15px 20px;
}

textarea {
	overflow: auto;
	vertical-align: top;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus {
	outline: 0;
}

select {
	padding: 14px 20px;
}

label {
  cursor: pointer;
}

.post-password-form {
  font-size: 1rem;
}

.post-password-form > :last-child {
  margin-bottom: 0;
}

.post-password-form label {
	color: #b1b1b1;
	font-size: 0.8823em;
}

.post-password-form input[type="password"] {
  width: 190px;
  margin-left: 10px;
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0;
}

::-webkit-input-placeholder {
  color: #999;
}

::-moz-placeholder {
  color: #777;
}

:-moz-placeholder {
  color: #777;
}

:-ms-input-placeholder {
  color: #999;
}

.search-form .search-wrap {
  position: relative;
  display: inline-block;
}

.search-form .search-field {
  display: block;
  width: 280px;
  border-radius: 0;
  font-style: italic;
  -webkit-appearance: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.search-form .search-submit {
  position: absolute;
  top: 50%;
  right: 17px;
  margin-top: -10px;
	padding: 0;
	background: transparent;
	color: #ccc;
	font-size: 18px;
}

.search-form .search-submit:hover {
	color: #111;
}

.required {
  color: #ff5a3a;
}

/**
 * 6.0 - Links
 */
a,
a:hover {
  text-decoration: none;
  color: #222;
}

a:hover {
  color: #888;
}

a:focus {
  outline: none;
}

.page-content a,
.entry-content a,
.post-meta a,
.author-link,
.logged-in-as a,
.comment-content a,
.comment-edit-link {
  color: #57ad68;
}

.page-content a:hover,
.entry-content a:hover,
.post-meta a:hover,
.author-link:hover,
.logged-in-as a:hover,
.comment-content a:hover,
.comment-edit-link:hover {
  color: #468c54;
}

/**
 * 7.0 - Alignments
 */
.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
	margin: 0.3em 1.7em 1.7em 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
	margin: 0.3em 0 1.7em 1.7em;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: 0.3em;
	margin-bottom: 1.7em;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	margin-bottom: 1.2em;
}
 
/**
 * 8.0 - Header
 */
.site-header {
  margin: 80px 0;
  text-align: center;
  color: #ddd;
}

.site-header a {
  color: #fff;
}

.site-header a:hover {
  opacity: 0.6;
}

.site-identity {
  max-width: 500px;
  width: 100%;
  margin: auto;
}

.tagline {
  margin: 0 0 1.5rem;
}

.site-title {
  margin: 0 0 2.5rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.7142rem;
  line-height: 1.4;
  font-weight: 400;
  letter-spacing: 0.083333em;
  text-transform: uppercase;
}

.site-title a {
  display: inline-block;
  padding: 12px 18px;
  border: 2px solid;
}

.header-image img {
  max-width: 150px;
  width: 100%;
  height: auto;
  margin: 0 0 1.5rem;
}

.header-image.rounded img {
  border-radius: 100%;
}

/**
 * 8.1 - Social Profiles
 */
.social-profiles {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 1.3rem;
}

.social-profiles li {
  margin: 0 10px 0 0;
  display: inline-block;
}

.social-profiles li:last-child {
  margin: 0;
}

/**
 * 9.0 - Navigations
 */
.primary-navigation {
  background: #292929;
  text-align: center;
  font-family: 'Montserrat', serif;
  font-size: 0.8571rem;
  text-transform: uppercase;
}

.primary-navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.primary-navigation ul li {
  position: relative;
}

.primary-navigation ul li:last-child {
  margin-bottom: 0;
}

.primary-navigation a {
  color: #b1b1b1;
}

.primary-navigation a:hover,
.primary-navigation .current-menu-item > a {
  color: #fff;
}

.primary-navigation .nav-menu > li {
  display: inline-block;
  margin: 0 15px;
}

.primary-navigation .nav-menu > li:last-child {
  margin-right: 0;
}

.primary-navigation .nav-menu > li > a {
  display: inline-block;
  padding: 35px 0;
}

.primary-navigation .nav-menu .menu-item-has-children a {
  position: relative;
}

.primary-navigation .nav-toggle:after,
.primary-navigation .nav-menu > .menu-item-has-children > a:after {
  display: inline-block;
  vertical-align: middle;
  content: "\e691";
  font-family: 'entypo';
  opacity: 0.5;
  margin-left: 3px;
  margin-top: -3px;
  font-size: 14px;
}

.primary-navigation .nav-menu .sub-menu > .menu-item-has-children > a:after {
  content: "\e693";
  font-family: 'entypo';
  font-size: 0.8571rem;
  opacity: 0.6;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -11px;
}

.primary-navigation .nav-menu .sub-menu {
  position: absolute;
  top: 100%;
  left: -30px;
  width: 170px;
  background: #222;
  padding: 15px 0;
  margin-top: 40px;
  text-align: left;
  font-size: 0.7142rem;
  z-index: 50;
  visibility: hidden;
  opacity: 0;  
  -webkit-transition: all 0.2s ease-out; 
          transition: all 0.2s ease-out; 
}

.primary-navigation .nav-menu .sub-menu li {
  margin-bottom: 0;
}

.primary-navigation .nav-menu .sub-menu a {
  display: block;
  padding: 7px 30px;
}

.primary-navigation .nav-menu .sub-menu li > .sub-menu {
  top: -15px;
  left: 100%;
}

.primary-navigation .nav-menu li:hover > .sub-menu {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

.primary-navigation .nav-menu .sub-menu:before {
  content: '';
  position: absolute;
  top: -8px;
  left: 0;
  height: 8px;
  width: 100%;
}

.primary-navigation .nav-menu .sub-menu li > .sub-menu:before {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 1px;
}

.primary-navigation .nav-menu .sub-menu li > .sub-menu:before {
  left: -1px;
}

.primary-navigation .nav-toggle {
  display: block;
  padding: 30px 0;
  display: none;
}

.primary-navigation-light .primary-navigation {
  background: #fff;
}

.primary-navigation-light .primary-navigation .nav-toggle,
.primary-navigation-light .primary-navigation .nav-menu > li > a {
  color: #888;
}

.primary-navigation-light .primary-navigation .nav-toggle:hover,
.primary-navigation-light .primary-navigation .nav-menu > li > a:hover,
.primary-navigation-light .primary-navigation .nav-menu > .current-menu-item > a {
  color: #222;
}

.primary-navigation-light .primary-navigation .nav-toggle:after,
.primary-navigation-light .primary-navigation .nav-menu > .menu-item-has-children > a:after {
  opacity: 0.8;
}
/**
 * 10.0 - Content
 */
.site-content {
  background: #fff;
}

.page-header {
  padding: 70px 90px;
  text-align: center;
}

.page-title {
  font-size: 1.1428rem;
  margin: 0 0 1rem;
}

.taxonomy-description {
  max-width: 600px;
  width: 100%;
  font-size: 1rem;
  margin: 0 auto;
  
}

.page-title:only-child,
.taxonomy-description > :only-child,
.taxonomy-description > :last-child {
  margin-bottom: 0;
}

/**
 * 10.1 - Post
 */
.hentry {
  position: relative;
  border-top: 1px solid #eaeaea;
}

.hentry:first-child,
.page-header + .has-post-thumbnail,
.hentry + .has-post-thumbnail {
  border: none;
} 

.hentry .inner {
  padding: 90px;
}

.post-thumbnail,
.entry-attachment {
  display: block;
  text-align: center;
  background: #f5f5f5;
}

.post-thumbnail img,
.entry-attachment img,
.entry-content img,
.comment-content img {
  max-width: 100%;
  height: auto;
}

.entry-attachment .entry-caption {
  padding: 50px 70px;
}

.entry-attachment .entry-caption > :last-child,
.entry-attachment .entry-caption > :only-child {
  margin-bottom: 0;
}

.entry-attachment .entry-caption p {
  padding: 0;
  color: #222;
}

.entry-header,
.entry-summary,
.entry-content,
.entry-footer {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

.entry-header {
  margin-bottom: 3rem;
  text-align: center;
}

.cat-links {
  margin-bottom: 1.4rem;
}

.cat-links a {
  display: inline-block;
  padding: 4px 12px;
  background: #72b4c3;
  color: #fff;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  font-family: 'Montserrat', serif;
  font-size: 0.928571rem;
  text-transform: uppercase;
}

.cat-links > :last-child,
.cat-links > :only-child {
  margin-right: 0;
}

.cat-links a:hover {
  opacity: 0.8;
}

.entry-title {
  font-size: 2.428571rem;
  line-height: 1.3;
  margin: 0 0 1rem;
  text-transform: uppercase;
}

.attachment-title {
  word-wrap: break-word;
}

.entry-summary > :only-child,
.entry-summary > :last-child {
  margin-bottom: 0;
}

.tags-list a  {
  display: inline-block;
  padding: 4px 12px;
  border: 1px solid rgba(0,0,0,0.1);
  color: #b1b1b1;
  margin-right: 2px;
  margin-bottom: 4px;
  border-radius: 3px;
  font-family: 'Montserrat', serif;
  font-size: 0.7142rem;
  text-transform: uppercase;
}

.tags-list a:hover  {
  border: 1px solid rgba(0,0,0,0.23);
  color: #999;
}

.post-meta {
  color: #b1b1b1;
  font-style: italic;
  font-size: 1.142857rem;
}

.post-meta + .post-meta:before {
  content: ' ';
}

.sticky-badge {
  display: inline-block;
  background: #6bacb7;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7142rem;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px 27px 16px 24px;
}

.sticky-badge i {  
  margin-right: 5px;
  font-size: 0.7647rem;
}

.entry-content {
  font-size: 1.2857rem;
}

.entry-content > :last-child {
  margin-bottom: 0;
}

.entry-footer {
  margin-top: 1.75rem;
}

.share-buttons {
  width: 50px;
  position: fixed;
  top: 50%;
  left: 0;
  margin-top: -100px;
}

.share-buttons a {
  display: inline-block;
  margin-right: 4px;
  font-size: 1rem;
  height: 50px;
  width: 50px;
  text-align: center;
  color: #fff;
  background: #3b5998;
}

.share-buttons a:hover {
  background: #fff;
  color: #222;
}

.share-buttons .nord-facebook-share-button {
  background: #3b5998;
}

.share-buttons .nord-twitter-share-button {
  background: #00aced;
}

.share-buttons .nord-pinterest-share-button {
  background: #cb2027;
}

.share-buttons .nord-tumblr-share-button {
  background: #35465c;
}

.share-buttons .nord-linkedin-share-button {
  background: #0077b5;
}

.share-buttons .nord-google-share-button {
  background: #dd4b39;
}

.share-buttons a i {
  line-height: 50px;
}

.entry-more {
  text-align: center;
  margin-top: 3rem;
}

.entry-more .more-link {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8571rem;
  text-transform: uppercase;
  color: #b1b1b1;
  border: 1px solid rgba(0,0,0,0.15);
  padding: 13px 23px 13px 26px;
  border-radius: 26px;
}

.entry-more .more-link:hover {
  border-color: rgba(0,0,0,0.25);
  color: #777;
}

.more-link i {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  margin-top: -2px;
  margin-left: 1px;
}

.page-links {
  color: #b1b1b1;
  font-family: 'Montserrat', serif;
  font-size: 0.8571rem;
  text-transform: uppercase;
}

/**
 * 10.2 - Navigations
 */
.pagination,
.image-navigation {
  background: #252525;
  text-align: center;
  padding: 40px 20px;
  font-family: 'Montserrat', serif;
  font-size: 0.8571rem;
  text-transform: uppercase;
}

.pagination a,
.image-navigation a {
  color: #999;
}

.pagination a:hover,
.image-navigation a:hover {
  color: #fff;  
}

.pagination .page-numbers {
  margin: 0 10px;
}

.pagination .page-numbers i {
  display: inline-block;
  font-size: 14px;
  vertical-align: middle;
  margin-top: -2px;
}

.pagination .page-numbers:hover,
.pagination .page-numbers.current {
  color: #fff;
}

.pagination .page-numbers.current {
  font-weight: 400;
}

.image-navigation .nav-previous,
.image-navigation .nav-next,
.comment-navigation .nav-previous,
.comment-navigation .nav-next {
  width: 50%;
}

.image-navigation .nav-previous,
.comment-navigation .nav-previous {
  float: left;
  text-align: left;
}

.image-navigation .nav-next,
.comment-navigation .nav-next {
  float: right;
  text-align: right;
}

.post-navigation {
  margin-right: -1px;
}

.post-navigation .nav-links {
  display: table;
  width: 100%;
  table-layout: fixed;
  overflow: hidden;
}

.post-navigation .nav-next,
.post-navigation .nav-previous {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
  padding: 80px 40px;
  background-color: #f1f1f1;
  background-size: cover;
  background-position: center;
  position: relative;
  text-align: center;
}

.post-navigation .nav-links > :only-child {
  width: 100%;
}

.post-navigation .nav-next:before,
.post-navigation .nav-previous:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 100%;
  background: transparent; 
  -webkit-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
}

.post-navigation span {
  position: relative;
  z-index: 10;
}

.post-navigation .post-title {
  font-family: 'Montserrat', serif;
  font-size: 1.4rem;
  line-height: 1.4;
}

.post-navigation .post-title:hover {
  opacity: 0.8;
}

.post-navigation .nav-meta {
  display: block;
  color: #555;
  margin-bottom: 1rem;
  font-family: 'Montserrat', serif;
  font-size: 0.7142rem;
  text-transform: uppercase;
}

.page-links {
  font-size: 1rem;
  text-align: center;
}

.page-links span {
  display: inline-block;
}

.entry-content + .image-navigation {
  margin-top: 1.75rem;
}

/**
 * 10.3 - Error pages
 */
.not-found .page-content {
  font-size: 1.2857rem;
}

.not-found .page-content {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.not-found .nav-link {
  font-size: 1rem;
  font-style: italic;
}

.search-no-results .not-found .search-form,
.error404 .not-found .search-form {
  max-width: 300px;
  margin: 2rem auto;
}

.not-found .search-form {
  margin-bottom: 2rem;
}

/**
 * 10.4 - Author Bio
 */
.author-info {
  background: #f5f5f5;
  padding: 70px;
}

.author-inner {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}

.author-avatar {
  float: left;
  width: 90px;
}

.author-avatar img {
  max-width: 90px;
  height: auto;
  border-radius: 100%;
}

.author-description {
  margin-left: 120px;
  margin-top: -5px;
}

.page-header .author-description {
  text-align: left;
}

.author-bio {
  margin-bottom: 1rem;
}

.page-header .author-bio {
  font-size: 1.1428rem;
}

.page-header .author-bio {
  margin-bottom: 0;
}

.author-link {
  font-style: italic;
}

/**
 * 10.5 - Post Formats
 */ 
.entry-format,
.custom-theme-gallery {
  background: #f5f5f5;
}
 
.entry-format .wp-audio-shortcode, 
.entry-format .wp-video, 
.entry-format .wp-playlist.wp-audio-playlist {
  margin-bottom: 0;
}

.entry-format-gallery,
.custom-theme-gallery {
  text-align: center;
}

.entry-format-gallery .owl-theme img,
.custom-theme-gallery .owl-theme img {
  max-width: 100%;
  height: auto;
}

.entry-format-gallery .owl-theme .owl-controls,
.custom-theme-gallery .owl-theme .owl-controls {
  margin-top: 0;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
}

.entry-format-gallery .owl-theme .owl-controls .owl-buttons .owl-next,
.entry-format-gallery .owl-theme .owl-controls .owl-buttons .owl-prev,
.custom-theme-gallery .owl-theme .owl-controls .owl-buttons .owl-next,
.custom-theme-gallery .owl-theme .owl-controls .owl-buttons .owl-prev {
  position: absolute;
  top: 50%;
  margin: -21px 0 0;
  padding: 0;
  height: 42px;
  width: 42px;
  overflow: hidden;
  opacity: 1;
  background: rgba(0,0,0,0.15);
  border-radius: 3px;
  -webkit-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
}

.entry-format-gallery .owl-theme .owl-controls .owl-buttons .owl-next,
.custom-theme-gallery .owl-theme .owl-controls .owl-buttons .owl-next {
  right: 30px;
}

.entry-format-gallery .owl-theme .owl-controls .owl-buttons .owl-prev,
.custom-theme-gallery .owl-theme .owl-controls .owl-buttons .owl-prev {
  left: 30px;
}

.entry-format-gallery .owl-theme .owl-controls .owl-buttons .owl-next:hover,
.entry-format-gallery .owl-theme .owl-controls .owl-buttons .owl-prev:hover,
.custom-theme-gallery .owl-theme .owl-controls .owl-buttons .owl-next:hover,
.custom-theme-gallery .owl-theme .owl-controls .owl-buttons .owl-prev:hover {
  background: rgba(0,0,0,0.3);
}

.entry-format-gallery .owl-theme .owl-controls .owl-buttons i,
.custom-theme-gallery .owl-theme .owl-controls .owl-buttons i {
  line-height: 42px;
  font-size: 20px;
}

.hentry .wp-video-shortcode:focus,
.hentry .mejs-controls .mejs-time-rail .mejs-time-slider:focus {
  outline: none;
  border: none;
}

.hentry .mejs-container .mejs-controls {
  height: 60px;
  padding: 0 30px;
  background: rgba(0,0,0,.7);
  background: -webkit-gradient(linear,0 0,0 100%,from(rgba(0,0,0,0)),to(rgba(0,0,0,.6)));
  background: -webkit-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.6));
  background: -moz-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.6));
  background: -o-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.6));
  background: -ms-linear-gradient(top,rgba(0,0,0,0),rgba(0,0,0,.6));
  background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.6));
}

.hentry .mejs-container .mejs-controls div {
  margin-top: 15px;
}

.hentry .mejs-container .mejs-controls .mejs-time-rail {
  margin-top: 18px;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-current {
  background: #57ad68;
}

.hentry .mejs-controls .mejs-time-rail .mejs-time-slider,
.hentry .mejs-controls .mejs-time-rail .mejs-time-buffering, 
.hentry .mejs-controls .mejs-time-rail .mejs-time-loaded, 
.hentry .mejs-controls .mejs-time-rail .mejs-time-current, 
.hentry .mejs-controls .mejs-time-rail .mejs-time-handle, 
.hentry .mejs-controls .mejs-time-rail a {
  height: 5px;
}

/**
 * 10.6 - Comments
 */
.hentry + .comments-area {
  border-top: 1px solid #eaeaea;
}
 
.comments-area {
  padding: 90px;
}
 
.comments-inner {
  max-width: 650px;
  width: 100%;
  margin: 0 auto;
}
 
.comment-reply-title,
.comments-title,
.section-title {
  font-size: 1.1428rem;
  margin: 0 0 1.5rem;
}

.comment-list,
.comment-list .children {
  list-style: none;
  margin: 0;
  padding: 0;
} 

.comment-list li {
  margin-bottom: 1.75rem;
}

.comment-list .children {
  margin-left: 50px;
  margin-top: 1.75rem;
}

.comment-meta {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.comment-author .avatar {
  max-width: 50px;
  height: auto;
  float: left;
  margin-top: 5px;
  margin-right: 15px;
  border-radius: 30px;
}

.comment-author .fn {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 0.8571rem;
  margin-top: 5px;
}

.bypostauthor .fn:after {
  content: 'Author';
  margin-left: 5px;
  color: #ca9544;
}

.comment-metadata,
.comment-metadata > a {
  color: #b1b1b1;
  font-size: 0.8571rem;
  font-style: italic;
}

.comment-metadata > a:hover {
  color: #222;
}

.comment-metadata .edit-link:before {
  content: '\2022';
  margin: 0 7px 0 5px;
  color: #bbb;
  font-size: 8px;
}

.comment-awaiting-moderation {
  margin: 0.5rem 0 0;
  color: #ff8300;
}

.comment-content {
  font-size: 1.1428rem;
}

.comment-content > :last-child,
.comment-content > :only-child {
  margin-bottom: 0.8rem;
}

.comment-reply-link {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7142rem;
  text-transform: uppercase;
  color: #b1b1b1;
  margin-right: 2px;
  margin-bottom: 5px;
}

.comment-reply-link:before {
  content: "\e6f0";
  font-family: 'entypo';
  margin-right: 3px;
}

.comment-reply-link:hover {
  color: #222;
}

.comment-reply-link:hover:after {
  display: none;
}

.comment-respond {
  margin-top: 2rem;
}

.comment-respond:only-child {
  margin-top: 0;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
  margin-top: 3rem;
}

.comment-notes {
  font-style: italic;
}

.comment-form {
  margin-left: -10px;
  margin-right: -10px;
}

.comment-form p {
  margin-bottom: 20px;
}

.comment-form > :last-child {
  margin-bottom: 0;
}

.form-submit, 
.logged-in-as,
.comment-notes {
  padding-left: 10px;
  padding-right: 10px;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  width: 100%;
}

.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"] {
  max-width: 250px;
}
 
/**
 * 11.0 - Media
 */
.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

audio,
canvas {
	display: inline-block;
}

embed,
iframe,
object,
video {
	margin-bottom: 1.75em;
	max-width: 100%;
	vertical-align: middle;
}

p > embed,
p > iframe,
p > object,
p > video {
	margin-bottom: 0;
}

.wp-audio-shortcode,
.wp-video,
.wp-playlist.wp-audio-playlist {
	margin-top: 0;
	margin-bottom: 1.75em;
}

.wp-playlist.wp-playlist {
	padding-bottom: 0;
}

.wp-playlist .wp-playlist-tracks {
	margin-top: 0;
}

.wp-playlist-item .wp-playlist-caption {
	border-bottom: 0;
	padding: 12px 0;
}

.wp-playlist-item .wp-playlist-item-length {
	top: 10px;
}

/**
 * 11.1 - Captions
 */
.wp-caption {
	margin-bottom: 1.7em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin: 0;
}

.wp-caption-text,
.entry-caption p {
	color: #b1b1b1;
	padding: 1.2em 0 0;
	font-size: 1rem;
}

.wp-caption.aligncenter .wp-caption-text {
  text-align: center;
}

/**
 * 11.2 - Galleries
 */
.gallery {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 0 1 auto;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
     -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  margin-right: -7.5px;
  margin-left: -7.5px;
  margin-bottom: 10px;
}

.gallery-columns-2 {
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: 10px;
}

.gallery-columns-3 {
  margin-right: -10px;
  margin-left: -10px;
  margin-bottom: 20px;
}

.gallery .gallery-item {
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  -ms-flex-preferred-size: 100%;
       -webkit-flex-basis: 100%;
               flex-basis: 100%;
                max-width: 100%;
    padding-right: 7.5px;
    padding-left: 7.5px;
    margin-bottom: 15px;
}

.gallery-columns-2 .gallery-item {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px; 
}

.gallery-columns-3 .gallery-item {
  padding-right: 10px;
  padding-left: 10px;
  margin-bottom: 20px; 
}

.gallery-columns-2 .gallery-item {
  -ms-flex-preferred-size: 50%;
       -webkit-flex-basis: 50%;
               flex-basis: 50%;
                max-width: 50%;
}

.gallery-columns-3 .gallery-item {
  -ms-flex-preferred-size: 33.3333333333%;
       -webkit-flex-basis: 33.3333333333%;
               flex-basis: 33.3333333333%;
                max-width: 33.3333333333%;
}

.gallery-columns-3 .gallery-caption {
  line-height: 1.5;
}

.gallery-columns-4 .gallery-item {
  -ms-flex-preferred-size: 25%;
       -webkit-flex-basis: 25%;
               flex-basis: 25%;
                max-width: 25%;
}

.gallery-columns-4 .gallery-caption {
  line-height: 1.4;
}

.gallery-columns-5 .gallery-item {
  -ms-flex-preferred-size: 20%;
       -webkit-flex-basis: 20%;
               flex-basis: 20%;
                max-width: 20%;
}

.gallery-columns-6 .gallery-item {
  -ms-flex-preferred-size: 16.666666666%;
       -webkit-flex-basis: 16.666666666%;
               flex-basis: 16.666666666%;
                max-width: 16.666666666%;
}

.gallery-columns-7 .gallery-item {
  -ms-flex-preferred-size: 14.285714%;
       -webkit-flex-basis: 14.285714%;
               flex-basis: 14.285714%;
                max-width: 14.285714%;
}

.gallery-columns-8 .gallery-item {
  -ms-flex-preferred-size: 12.5%;
       -webkit-flex-basis: 12.5%;
               flex-basis: 12.5%;
                max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
  -ms-flex-preferred-size: 11.1111111111%;
       -webkit-flex-basis: 11.1111111111%;
               flex-basis: 11.1111111111%;
                max-width: 11.1111111111%;
}

.gallery-columns-5 .gallery-caption,
.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
  display: none;
}

.entry-content .tiled-gallery {
  margin-bottom: 1.75rem;
}

.custom-theme-gallery {
  margin: 70px 0;
  width: 1080px;
  position: relative;
  left: calc( 50% - 540px );
}

.custom-theme-gallery .gallery-item {
  position: relative;
}

.custom-theme-gallery .gallery-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 100%);
  background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );
  padding: 50px 60px 30px 60px;
}

/**
 * 12.0 - Footer
 */
.site-footer {
  margin: 80px 0;
  text-align: center;
  color: #ccc;
  text-align: center;
}

.site-footer a {
  color: #fff;
}

.site-footer a:hover {
  opacity: 0.6;
}

.site-info {
  display: inline-block;
  max-width: 500px;
  width: 100%;
}

/**
 * 13.0 - Sidebar
 */
.sidebar {
  position: fixed;
  right: -17px;
  top: 0;
  bottom: 0;
  width: 417px;
  background: #252525;
  padding: 60px 70px;
  z-index: 0;
  overflow-y: scroll;
  color: #b1b1b1;
}

.admin-bar .sidebar {
  top: 32px;
}

.sidebar a {
  color: #fff;
}

.sidebar a:hover {
  opacity: 0.6;
}
 
.sidebar-toggle {
  position:fixed;
  right: 0;
  top: 0;
  display: block;
  padding: 20px 23px;
  background: #292929;
  z-index: 60;
}

.sidebar-toggle:hover {
  background: #fff;
}

.admin-bar .sidebar-toggle {
  top: 32px;
}

.sidebar-open .sidebar-toggle {
  background: transparent;
}

.sidebar-open .sidebar-toggle:hover {
  background: #fff;;
}
 
.sidebar-toggle .menu-icon,
.sidebar-toggle .menu-icon:before,
.sidebar-toggle .menu-icon:after {
  background: #fff;
}

.sidebar-toggle:hover .menu-icon,
.sidebar-toggle:hover .menu-icon:before,
.sidebar-toggle:hover .menu-icon:after {
  background: #333;
}

.sidebar-open .sidebar-toggle .menu-icon {
  background-color: transparent;
}

.sidebar-open .sidebar-toggle .menu-icon:before,
.sidebar-open .sidebar-toggle .menu-icon:after {
  top: 0;
}

.sidebar-open .sidebar-toggle .menu-icon:before {
  -webkit-transform: rotate(45deg); 
      -ms-transform: rotate(45deg); 
          transform: rotate(45deg); 
}

.sidebar-open .sidebar-toggle .menu-icon:after {
  -webkit-transform: rotate(-45deg); 
      -ms-transform: rotate(-45deg); 
          transform: rotate(-45deg); 
}

/**
 * 13.1 - Widgets
 */
.widget {
  margin-bottom: 60px;
}

.widget:last-child {
  margin-bottom: 0;
}

.widget p {
  margin-bottom: 1.6em;
}

.widget input,
.widget textarea,
.widget select {
  background: rgba(255,255,255,0.02);
  border: none;
}

.widget input,
.widget textarea {
  color: #fff;
}

.widget select {
  color: rgba(255,255,255,0.7);
}

.widget input:focus,
.widget textarea:focus,
.widget select:focus {
  background: rgba(255,255,255,0.04);
}

.widget select option {
  color: #222;
  background: #fff;
}

.widget-title {
  font-size: 0.8571rem;
  margin: 0 0 1.5rem;
  text-transform: uppercase;
  color: #b1b1b1;
}

.widget .post-date,
.widget .rss-date {
  display: block;
  font-size: 0.8571rem;
  font-style: italic;
  color: rgba(255,255,255,0.4);
  margin-top: 3px;
}

.widget_archive ul,
.widget_categories ul,
.widget_links ul,
.widget_meta ul,
.widget_nav_menu ul,
.widget_pages ul,
.widget_recent_comments ul,
.widget_recent_entries ul,
.widget_rss ul,
.nord-widget-recent-posts ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget_archive li,
.widget_categories li,
.widget_links li,
.widget_meta li,
.widget_nav_menu li,
.widget_pages li,
.widget_recent_comments li,
.widget_recent_entries li,
.widget_rss li {
  margin-bottom: 0.5em;
}

.widget_archive ul li:last-child,
.widget_categories ul li:last-child,
.widget_links ul li:last-child,
.widget_meta ul li:last-child,
.widget_nav_menu ul li:last-child,
.widget_pages ul li:last-child,
.widget_recent_comments ul li:last-child,
.widget_recent_entries ul li:last-child,
.widget_rss ul li:last-child,
.nord-widget-recent-posts ul li:last-child {
  margin-bottom: 0;
}

.widget_archive ul,
.widget_categories ul,
.widget_recent_comments ul,
.widget_rss .post-date,
.widget_recent_entries .rss-date,
.widget_calendar table tbody td {
  color: #b1b1b1;
}

.widget_nav_menu .menu .menu-item-has-children > a {
  position: relative;
}

.widget_nav_menu .menu .menu-item-has-children > a:after {
  content: "\e691";
  font-family: 'entypo';
  position: absolute;
  right: -13px;
  top: 50%;
  margin-top: -7px;
  font-size: 10px;
  opacity: 0.4;
}

.widget_nav_menu .sub-menu {
  margin: 0.7em 0;
  margin-left: 1em;
}

.widget_search .search-form .search-wrap {
  max-width: 250px;
  width: 100%;
}

.widget_search .search-form .search-field {
  display: block;
}

.widget_search .search-form .search-submit {
  color: rgba(255,255,255,0.7);
}

.widget_search .search-form .search-submit:hover {
  color: rgba(255,255,255,1);
}

.tagcloud a {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7142rem !important;
  text-transform: uppercase;
  display: inline-block;
  padding: 4px 12px;
  border: 1px solid rgba(255,255,255,0.07);
  color: rgba(255,255,255,0.7);
  margin-right: 2px;
  margin-bottom: 6px;
  border-radius: 3px;
}

.tagcloud a:hover {
  border-color: rgba(255,255,255,0.2);
  color: #fff;
  opacity: 1;
}

.widget_categories .children {
  margin-top: 0.5em;
  margin-left: 1em;
}

.widget_archive > ul > li,
.widget_categories > ul > li {
  position: relative;
}

.widget_archive span,
.widget_categories span {
  position: absolute;
  top: 0;
  right: 0;
  display: inline-block;
  margin-left: 3px;
  padding: 2px 6px;
  background: rgba(255,255,255,0.04);
  border-radius: 3px;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7142rem;
}

.widget_archive select,
.widget_categories select {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
}

.widget_calendar #calendar_wrap {
  max-width: 300px;
}

.widget_calendar table, 
.widget_calendar th, 
.widget_calendar td {
  border-color: rgba(255, 255, 255, 0.05);
}

.widget_calendar table th {
  font-weight: 400;
}

.widget_calendar table td,
.widget_calendar table th {
  text-align: center;
}

.widget_calendar table tbody td a:hover {
  border: none;
}

.widget_calendar thead th {
  color: #fff;
  padding: 8px 0;
}

.widget_calendar thead th,
.widget_calendar table caption {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8571rem;
  text-transform: uppercase;
}

.widget_calendar table caption {
  font-size: 0.7142rem;
  color: #b1b1b1
}

.textwidget > :last-child,
.textwidget > :only-child {
  margin-bottom: 0;
}

.nord-instagram-feed .instagram-pics {
  list-style: none;
  margin: 0 -3px 10px -3px;
  padding: 0;
}

.nord-instagram-feed .instagram-pics li {
  float: left;
  width: 33.333333333333333333333333333333%;
  padding-left: 3px;
  padding-right: 3px;
  margin-bottom: 6px;
}

.nord-instagram-feed .instagram-pics.cols-2 li {
  width: 50%;
}

.nord-instagram-feed .instagram-pics.cols-4 li {
  width: 25%;
}

.nord-instagram-feed p {
  margin: 1rem 0 0;
  font-size: 0.7647rem;
}

.nord-widget-recent-posts ul li {
  margin-bottom: 1.5rem;
}

.nord-widget-recent-posts .hentry {
  border: none;
}

.nord-widget-recent-posts .hentry + .hentry {
  margin-top: 0;
}

.nord-widget-recent-posts .post-thumbnail {
  margin: 0;
  width: 70px;
  float: left;
}

.nord-widget-recent-posts .entry-header {
  text-align: left;
  margin: -2px 0 0;
  width: auto;
  line-height: 1.5;
  max-width: 100%;
}

.nord-widget-recent-posts .has-post-thumbnail .entry-header {
  margin-left: 90px;
}

/**
 * 14.0 - Accessibility
 */
/* Text meant only for screen readers */
.screen-reader-text,
.says {
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}

/**
 * 15.0 - Clearings
 */
.page-header:after,
.entry-content:after,
.post-navigation .nav-links:after,
.image-navigation .nav-links:after,
.comment-navigation:after,
.comment-meta:after,
.textwidget:after {
  content: '';
  display: table;
  clear: both;
}

/**
 * 16.0 - Animation
 */
a,
input,
select,
textarea {
  -webkit-transition: all 0.2s ease-out; 
          transition: all 0.2s ease-out; 
}

.menu-icon,
.menu-icon:before,
.menu-icon:after {
  -webkit-transition: all 0.3s ease-out; 
          transition: all 0.3s ease-out; 
}

/**
 * 16.0 Media Queries
 */
@media (min-width: 992px) and (max-width: 1199px) {
  .custom-theme-gallery {
    width: 920px;
    left: calc( 50% - 460px );
  }
}

@media (max-width: 991px) {
  .primary-navigation {
    text-align: left;
  }
  
  .primary-navigation .nav-toggle {
    display: block;
    text-align: center;
    padding: 25px 30px;
  }
  
  .primary-navigation .menu-container {
    display: none;
    background: #252525;
  }
  
  .primary-navigation-light .primary-navigation .menu-container .nav-menu > li > a {
    color: #b1b1b1;
  }

  .primary-navigation-light .primary-navigation .menu-container .nav-menu > li > a:hover,
  .primary-navigation-light .primary-navigation .menu-container .nav-menu > .current-menu-item > a {
    color: #fff;
  }

  .primary-navigation .nav-menu > li {
    display: block;
    margin: 0;
  }
  
  .primary-navigation .nav-menu .sub-menu {
    position: static;
    visibility: visible;
    opacity: 1;
    margin: 0;
    padding: 0;
    background: transparent;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .primary-navigation .nav-menu .sub-menu a {
    padding: 17px 30px;
  }
  
  .primary-navigation .nav-menu li a {
    display: block;
    padding: 17px 30px;
  }
  
  .primary-navigation .nav-menu .sub-menu > .menu-item-has-children > a:after {
    display: none;
  }
  
  .primary-navigation .nav-menu li {
    border-top: 1px solid rgba(255,255,255,0.02);
  }
  
  .primary-navigation .nav-menu .sub-menu li a {
    padding-left: 50px;
  }
  
  .primary-navigation .nav-menu .sub-menu .sub-menu li a {
    padding-left: 70px;
  }
  
  .primary-navigation .nav-menu .sub-menu .sub-menu .sub-menu li a {
    padding-left: 90px;
  }
  
  .page-header,
  .hentry .inner,
  .author-info,
  .comments-area {
    padding: 70px;
  }
  
  .comment-content {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .custom-theme-gallery {
    width: 720px;
    left: calc( 50% - 360px );
  }
}

@media (max-width: 767px) {
  .alignright,
  .alignleft {
    float: none;
    display: block;
  }
  
  blockquote.alignleft, 
  .wp-caption.alignleft, 
  img.alignleft,
  blockquote.alignright, 
  .wp-caption.alignright, 
  img.alignright {
    margin-right: auto;
    margin-left: auto;
  }
  
  .page-header,
  .hentry .inner,
  .author-info,
  .comments-area {
    padding: 50px;
  }
  
  .entry-header,
  .entry-summary,
  .entry-content,
  .entry-footer,
  .not-found .page-content,
  .author-inner,
  .comments-inner {
    max-width: none;
  }

  .tags-list + .entry-share {
    margin-top: 1.5rem;
  }
  
  .share-buttons {
    position: static;
    width: 100%;
    margin-top: 0;
  }

  .share-buttons a {
    height: 38px;
    width: 38px;
    border-radius: 100%;
    font-size: 0.875rem;
  }

  .share-buttons a:hover {
    background: #fff;
    color: #222;
  }

  .share-buttons a i {
    line-height: 38px;
  }
  
  .author-avatar {
    float: none;
    margin-bottom: 1rem;
  }

  .author-description {
    margin: 0;
  }
  
  .comment-author .avatar {
    max-width: 40px;
  }
  
  .comment-list .children {
    margin-left: 30px;
  }

  .post-navigation .nav-links,
  .post-navigation .nav-next,
  .post-navigation .nav-previous {
    display: block;
    width: 100%;
    min-height: auto;
  }

  .post-navigation .nav-next,
  .post-navigation .nav-previous {
    padding: 80px 40px;
  }
  
  .custom-theme-gallery {
    margin: 1.75rem 0;
    width: calc(100% + 100px);
    left: -50px;
  }
}

@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 12px;
  }

  .gallery-columns-6 .gallery-item,
  .gallery-columns-7 .gallery-item,
  .gallery-columns-8 .gallery-item,
  .gallery-columns-9 .gallery-item {
    -ms-flex-preferred-size: 20%;
         -webkit-flex-basis: 20%;
                 flex-basis: 20%;
                  max-width: 20%;
  } 
}

@media (max-width: 480px) {
   html {
    font-size: 12px;
  }
   
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }

  blockquote {
    margin-left: 0;
    margin-right: 0;
  }
  
  .site-header,
  .site-footer {
    margin: 60px 0;
  }
  
  .page-header,
  .hentry .inner,
  .author-info,
  .comments-area,
  .sidebar {
    padding: 50px 30px;
  }
  
  .entry-header {
    margin-bottom: 1.7rem;
    text-align: center;
  }
  
  .cat-links {
    margin-bottom: 1rem;
  }
  
  .entry-title {
    font-size: 2.1rem;
    letter-spacing: -0.15rem;
    line-height: 1.3;
  }
  
  .entry-content {
    font-size: 1rem;
  }
  
  .sticky-badge {
    padding: 10px 17px 10px 14px;
  }
  
  .entry-more {
    margin-top: 1.75rem;
  }

  .gallery-columns-4 .gallery-item,
  .gallery-columns-5 .gallery-item,
  .gallery-columns-6 .gallery-item,
  .gallery-columns-7 .gallery-item,
  .gallery-columns-8 .gallery-item,
  .gallery-columns-9 .gallery-item {
    -ms-flex-preferred-size: 33.3333333333%;
         -webkit-flex-basis: 33.3333333333%;
                 flex-basis: 33.3333333333%;
                  max-width: 33.3333333333%;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 20px; 
  } 
  
  .custom-theme-gallery {
    margin: 1.75rem 0;
    width: calc(100% + 60px);
    left: -30px;
  }
  
  .custom-theme-gallery .gallery-caption {
    padding: 25px 30px 15px 30px;
  }
  
  .sidebar-open .wrapper {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  
  .sidebar {
    width: 100%;
    left: 0;
  }
  
  .admin-bar .sidebar,
  .admin-bar .sidebar-toggle {
    top: 0;
  }
  
  .widget {
    margin-bottom: 40px;
  }
}