/*
 Theme Name:   Nord Theme Child
 Theme URI:    http://themeforest.net/user/nordstudio
 Description:  Nord Child Theme
 Author:       Nord Studio
 Author URI:   http://themeforest.net/user/nordstudio
 Template:     nord-theme
 Version:      1.0
 License:      
 License URI:  http://themeforest.net/licenses
 Tags:         black, white, dark, one-column, right-sidebar, fixed-layout, responsive-layout, flexible-header, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, sticky-post, theme-options, threaded-comments, translation-ready, photoblogging
 Text Domain:  nord-theme-child
*/

@import url("../nord-theme/style.css");
@import url("form.css");

.wrapper {
  background: black url("assets/images/offers.jpg") center top no-repeat;
}

/*
div.inner {
  background: url("http://www.wambamclub.com/assets/img/newsletter/slimline/wam-bam-logo-circle.png") 50% 3% no-repeat;
  background-size: 140px;
}
*/

.site-title {
  display: none;
}

.entry-share {
  display: none;
}

.entry-title {
  font-size: 2.428571rem;
  margin-top: 0px;
  text-transform: none;
}

div.entry-content p a {
  text-decoration: underline;
}

.gform_wrapper .gform_title,.gform_description {
  display: none;
}
