/* vars */
/* gradients */
/*! normalize.css v2.1.0 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Correct `block` display not defined in IE 8/9.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block; }

/*
 * Correct `inline-block` display not defined in IE 8/9.
 */
audio,
canvas,
video {
  display: inline-block; }

/*
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Address styling not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Remove default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/*
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/*
 * Address styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Address differences between Firefox and other browsers.
 */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

/*
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Correct font family set oddly in Safari 5 and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improve readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre-wrap; }

/*
 * Set consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/*
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Remove border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/*
 * Correct overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Address margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal; }

/*
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/*
 * 1. Address box sizing set to `content-box` in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box; }

/*
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*
    RESET
*------------------------------------*/
/**
 * A more considered reset; more of a restart...
 * As per: csswizardry.com/2011/10/reset-restarted
 */
/**
* Let's make the box model all nice, shall we...?
*/
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/**
 * The usual...
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
dl, dd, ol, ul,
form, fieldset, legend,
table, th, td, caption,
hr {
  margin: 0;
  padding: 0; }

/**
 * Give a help cursor to elements that give extra info on :hover.
 */
abbr[title], dfn[title] {
  cursor: help; }

/**
 * Remove underlines from potentially troublesome elements.
 */
u, ins {
  text-decoration: none; }

/**
 * Apply faux underline via border-bottom.
 */
ins {
  border-bottom: 1px solid; }

/**
 * So that alt text is visually offset if images don't load.
 */
img {
  font-style: italic; }

/**
 * Give form elements some cursor interactions...
 */
label,
input,
textarea,
button,
select,
option {
  cursor: pointer; }

.text-input:active,
.text-input:focus,
textarea:active,
textarea:focus {
  cursor: text;
  outline: none; }

/* global */
html {
  font-size: 100%; }

body {
  background: #140d22;
  margin: 0;
  font-size: 16px; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

form {
  margin: 0 0 2em 0; }
  form label {
    display: block;
    float: left;
    width: 50%;
    padding: 0.625em; }
    form label span.form-label {
      position: absolute;
      left: -3000px; }
    form label input,
    form label textarea {
      width: 100%;
      padding: 11px 20px;
      background: none;
      border: 1px solid white;
      border-radius: 0;
      color: white;
      outline: none; }
  form .form__submit {
    width: 100%;
    overflow: auto;
    clear: left; }

@media (max-width: 480px) {
  form label {
    float: none;
    width: 100%; } }
button,
.cta-button {
  display: block;
  padding: 0.7222em 1.888em;
  margin: 1.55556em auto 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  color: #e0d194;
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 1.125em;
  font-weight: 500;
  outline: none;
  text-decoration: none;
  text-transform: uppercase; }
  button:hover,
  .cta-button:hover {
    color: #e0d194; }

@media (max-width: 400px) {
  button,
  .cta-button {
    border-width: 2px;
    padding: 0.5454545455em 1.4545454545em; } }
.cta-button {
  display: inline-block; }

blockquote {
  padding-top: 30px;
  background-image: url("images/icons/testimonial.png");
  background-position: center top;
  background-repeat: no-repeat;
  color: #e0d194;
  font-size: 2.25em;
  font-family: "adobe-garamond-pro", serif;
  font-weight: 400;
  font-style: italic; }

cite {
  display: block;
  margin-top: 1em;
  background-position: center top;
  background-repeat: no-repeat;
  color: white;
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  text-transform: uppercase; }

@media (max-width: 1023px) {
  body {
    font-size: 0.875em; } }
@media (max-width: 768px) {
  body {
    font-size: 0.75em; } }
@media (max-width: 400px) {
  body {
    font-size: 0.625em; }

  body p {
    font-size: 1.2em; } }
/* typography */
body {
  -webkit-font-smoothing: antialiased;
  color: white;
  font-family: "Kefa", "ff-tisa-web-pro", serif;
  font-weight: 400;
  margin: 0; }

/*
font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
font-weight: 400 - Book
             500 - Medium
             700 - Heavy
             800 - Extra Bold
font-family: "Kefa", "ff-tisa-web-pro", serif;
font-weight: 400 - Normal
             700 - Bold
font-family: "adobe-garamond-pro";
font-weight: 400
font-style:  italic
*/
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0.25em;
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
  font-style: normal;
  letter-spacing: 3px;
  text-transform: uppercase; }

h1 {
  font-size: 2.500em;
  font-weight: 500;
  color: #e0d194;
  line-height: 1.25em;
  margin: 0; }

h2 {
  font-size: 3.500em;
  font-weight: 500; }

h3 {
  font-size: 3.250em;
  font-weight: 500;
  color: white; }

h4 {
  font-size: 1.375em;
  font-weight: 500;
  color: #e0d194; }

h5 {
  font-size: 1.500em;
  font-weight: 400; }

h6 {
  font-size: 1.250em;
  font-weight: 400; }

p, li, th, td {
  color: white;
  font-size: 1em;
  font-weight: 400;
  line-height: 1.125em; }

p {
  margin-bottom: 1em;
  color: #707070; }
  p:last-child {
    margin-bottom: 0; }
  p strong {
    color: #e0d194;
    font-weight: 600; }

a {
  color: #e0d194;
  text-decoration: underline; }
  a:hover {
    color: white; }

em {
  color: #e0d194;
  font-family: "adobe-garamond-pro", serif;
  font-size: 1.375em;
  font-style: italic; }

th {
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif; }

::selection {
  background-color: white;
  color: #2c0d3f; }

::-moz-selection {
  background-color: white;
  color: #2c0d3f; }

/* 
 * [ Default ]
 * Full width section
 */
section {
  position: relative;
  width: 100%;
  overflow: auto;
  text-align: center; }
  section .featured-image img, section > img, section article > img {
    position: static !important;
    display: block;
    width: 100% !important;
    height: auto !important; }
  section .featured-image span {
    display: block; }
  section article {
    position: relative;
    text-align: center; }
  section .section__overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5; }
  section .section__content {
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -moz-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 100%;
    max-height: 100%;
    overflow: hidden;
    white-space: initial; }
    section .section__content .section__content-inner {
      width: 50%;
      margin: 0 auto; }
      section .section__content .section__content-inner h2 img {
        margin-bottom: 1em; }
      section .section__content .section__content-inner h2 {
        font-size: 1.5em; } 
      section .section__content .section__content-inner ul:not(.iconlist) {
        margin-top: 2em; }
        section .section__content .section__content-inner ul:not(.iconlist) li {
          padding-left: 20px;
          margin-bottom: 1em;
          background: url("images/icons/tick.png") left 2px no-repeat; }
          section .section__content .section__content-inner ul:not(.iconlist) li strong {
            color: white; }
    section .section__content .section__title {
      margin-bottom: 4em; }
    section .section__content p {
      max-width: 100%; }
    section .section__content img {
      position: static !important;
      display: block;
      max-width: 100%;
      height: auto;
      margin: 0 auto; }

/* 
 * [ Split ]
 * Two sections within a section container
 * Reduces to tabs in smaller viewports
 */
section.tab__count--2 > .tab__buttons .tab__button {
  width: 50%; }
section .tab__buttons {
  position: relative;
  z-index: 75;
  width: 100%;
  overflow: auto;
  white-space: nowrap; }
  section .tab__buttons .tab__button {
    display: inline-block;
    width: 20%;
    padding-left: 2px; }
    section .tab__buttons .tab__button:first-child {
      padding-left: 0; }
  section .tab__buttons .tab__button-inner {
    width: 100%;
    padding: 1.25em 0;
    background: black;
    cursor: pointer;
    font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
    opacity: 0.5; }
    section .tab__buttons .tab__button-inner small {
      display: block;
      color: #e0d194;
      font-family: "adobe-garamond-pro", serif;
      font-size: 1em;
      font-style: italic; }
    section .tab__buttons .tab__button-inner a {
      color: white;
      font-size: 1.375em;
      letter-spacing: 3px;
      line-height: 1em;
      text-decoration: none;
      text-transform: uppercase; }
  section .tab__buttons .tab__button.active .tab__button-inner {
    background-image: linear-gradient(#62157e, #290b37);
    opacity: 1.0; }
  section .tab__buttons .tab__button:hover .tab__button-inner {
    opacity: 0.75; }

section section {
  display: none; }
  section section.active-tab {
    display: block; }

section.tab__count--1 > .tab__buttons, section.tab__count--2 > .tab__buttons, section.tab__count--3 > .tab__buttons, section.tab__count--4 > .tab__buttons, section.tab__count--5 > .tab__buttons {
  padding: 0; }
  section.tab__count--1 > .tab__buttons .tab__overflow-indicator, section.tab__count--2 > .tab__buttons .tab__overflow-indicator, section.tab__count--3 > .tab__buttons .tab__overflow-indicator, section.tab__count--4 > .tab__buttons .tab__overflow-indicator, section.tab__count--5 > .tab__buttons .tab__overflow-indicator {
    display: none; }
section .tab__buttons {
  padding: 0 8%; }
section .tab__buttons-inner {
  overflow: hidden; }
section .tab__overflow-indicator {
  position: absolute;
  bottom: 0;
  width: 8%;
  height: 100%;
  background: #302634 center center no-repeat;
  cursor: pointer; }
  section .tab__overflow-indicator.leftscroll {
    left: 0;
    background-image: url("images/icons/arrow-left.png"); }
  section .tab__overflow-indicator.rightscroll {
    right: 0;
    background-image: url("images/icons/arrow-right.png"); }

@media (max-width: 1024px) {
  section .tab__buttons-inner {
    overflow: auto;
    /* Hide scrollbars where possible */
    -ms-overflow-style: none; }
    section .tab__buttons-inner::-webkit-scrollbar {
      display: none; } }
@media (max-width: 1023px) {
  section .tab__buttons {
    background: #222; } }
@media (min-width: 960px) and (max-width: 1280px), (max-width: 480px) {
  #event__dates .tab__buttons .tab__button {
    width: 25%; } }
@media (min-width: 960px) and (max-width: 1023px) {
  #event__dates .section__content-inner {
    margin-bottom: 5.5em; }
  #event__dates .tab__buttons {
    position: absolute;
    bottom: 0;
    background: transparent; } }
@media (min-width: 1024px) {
  section .section__content p {
    margin: 0 auto 1em; }

  section.tab__count--3 > .tab__buttons .tab__button {
    width: 33.3333%; }
  section.tab__count--4 > .tab__buttons .tab__button {
    width: 25%; }
  section.tab__count--5 > .tab__buttons .tab__button {
    width: 20%; }
  section.tab__buttons .tab__button {
    width: 50%; }

  section .tab__buttons {
    position: absolute;
    bottom: 0; } }
@media (min-width: 1600px) {
  section .tab__buttons {
    padding: 0 5%; }
  section .tab__overflow-indicator {
    width: 5%; } }
@media (max-width: 640px) {
  section .section__content .section__content-inner {
    width: 75%; } }
@media (min-width: 1024px) and (max-width: 1600px) {
  section:not(#info__gallery) > .section__content .section__content-inner {
    margin-bottom: 5.5em !important; } }
@media (min-width: 769px) and (max-width: 1600px) {
  #info .section__content .section__content-inner > * {
    max-width: 75%; }
  #info #info__gallery .section__content .section__content-inner > * {
    max-width: initial; }

  section:not(#info__gallery) > .section__content .section__content-inner h2 {
    margin: 0 auto 0.5em; }
    section:not(#info__gallery) > .section__content .section__content-inner h2 img {
      margin-bottom: 0; }
  section:not(#info__gallery) > .section__content .section__content-inner button, section:not(#info__gallery) > .section__content .section__content-inner .cta-button {
    font-size: 1em; } }
@media (min-width: 960px) and (max-width: 1600px) {
  #event #event__dates section .section__content .section__content-inner, #event #event__dates article .section__content .section__content-inner, #event #event__acts section .section__content .section__content-inner, #event #event__acts article .section__content .section__content-inner {
    width: 75%; }
    #event #event__dates section .section__content .section__content-inner > *, #event #event__dates article .section__content .section__content-inner > *, #event #event__acts section .section__content .section__content-inner > *, #event #event__acts article .section__content .section__content-inner > * {
      max-width: initial; }
    #event #event__dates section .section__content .section__content-inner p, #event #event__dates article .section__content .section__content-inner p, #event #event__acts section .section__content .section__content-inner p, #event #event__acts article .section__content .section__content-inner p {
      width: 100%;
      max-width: 100%; }
  #event #event__dates section .section__content .dates__day, #event #event__dates article .section__content .dates__day, #event #event__acts section .section__content .dates__day, #event #event__acts article .section__content .dates__day {
    font-size: 2em; }
  #event #event__dates section .section__content .dates__date, #event #event__dates article .section__content .dates__date, #event #event__acts section .section__content .dates__date, #event #event__acts article .section__content .dates__date {
    padding-bottom: 0;
    margin-bottom: 1em;
    background: none; }
    #event #event__dates section .section__content .dates__date img, #event #event__dates article .section__content .dates__date img, #event #event__acts section .section__content .dates__date img, #event #event__acts article .section__content .dates__date img {
      height: 6.25em; } }
body {
  margin-top: 130px;
  padding-top: 3em; }

#topribbon {
  position: fixed;
  top: 0;
  z-index: 90;
  width: 100%;
  padding: 1em 0;
  background: black; }
  #topribbon p {
    font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: 1em;
    text-align: center;
    text-transform: uppercase; }

header {
  position: fixed;
  top: 3em;
  z-index: 90;
  width: 100%;
  background: #0b091b; }
  header #header__inner {
    box-sizing: content-box;
    padding: 0 15px;
    background: url("images/header.png") center top no-repeat; }
  header #header__logo {
    position: relative;
    z-index: 95;
    height: 100%;
    padding: 10px 0;
    margin: 0 auto; }
    header #header__logo h1 {
      position: absolute;
      left: -3000px; }
    header #header__logo img {
      max-height: 110px; }
  header #nav__toggle {
    position: absolute;
    top: 49px;
    right: 20px;
    z-index: 99;
    display: block;
    cursor: pointer; }
  header #header__nav ul li a {
    color: #707070;
    font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 1.5em;
    line-height: 1em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase; }
    header #header__nav ul li a:hover {
      color: white; }

@media (max-width: 960px) {
  body {
    margin-top: 75px; }
    body header #header__nav {
      top: 75px;
      margin-top: 3em; }

  header #header__logo {
    overflow: auto; }
    header #header__logo .desktop {
      display: none; }
    header #header__logo .mobile {
      display: block;
      float: left; }
  header #nav__toggle {
    position: absolute;
    right: 25px;
    top: 24px;
    display: block;
    width: 36px;
    height: 28px;
    padding: 2px 0; }
    header #nav__toggle span {
      display: block;
      width: 100%;
      height: 1px;
      margin-top: 10px;
      background: #e0d194; }
      header #nav__toggle span:first-child {
        margin-top: 0; }
      header #nav__toggle span.bar1, header #nav__toggle span.bar2, header #nav__toggle span.bar3 {
        opacity: 1;
        -webkit-transition: all 0.3s ease;
        -moz-transition: all 0.3s ease;
        -ms-transition: all 0.3s ease;
        transition: all 0.3s ease; }
    header #nav__toggle.open span.bar1 {
      -webkit-transform: translateY(11px) rotate(45deg);
      -moz-transform: translateY(11px) rotate(45deg);
      -o-transform: translateY(11px) rotate(45deg);
      -ms-transform: translateY(11px) rotate(45deg);
      transform: translateY(11px) rotate(45deg); }
    header #nav__toggle.open span.bar2 {
      opacity: 0; }
    header #nav__toggle.open span.bar3 {
      -webkit-transform: translateY(-11px) rotate(-45deg);
      -moz-transform: translateY(-11px) rotate(-45deg);
      -o-transform: translateY(-11px) rotate(-45deg);
      -ms-transform: translateY(-11px) rotate(-45deg);
      transform: translateY(-11px) rotate(-45deg); }
  header #header__nav {
    position: fixed;
    top: 125px;
    right: 0;
    z-index: 90;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: #0b091b;
    /* Animation */
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    -ms-transition: all 0.15s ease;
    transition: all 0.15s ease;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%); }
    header #header__nav ul {
      padding: 2.5em 0; }
      header #header__nav ul li {
        font-size: 1.4em; }
        header #header__nav ul li a {
          display: block;
          padding: 0 15px;
          line-height: 2.5em;
          letter-spacing: 3px; }
      header #header__nav ul .nav__seperator {
        display: none; }
    header #header__nav.open {
      -webkit-transform: translateX(0px);
      -moz-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px); } }
@media (min-width: 961px) {
  header {
    height: 130px; }
    header #header__inner {
      height: 130px;
      text-align: center; }
    header #header__logo {
      width: 10.675em;
      text-align: center; }
      header #header__logo a {
        display: block; }
      header #header__logo img {
        margin: 0 auto; }
        header #header__logo img.desktop {
          display: block; }
        header #header__logo img.mobile {
          display: none; }
    header #nav__toggle {
      display: none; }
    header #header__nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0 15px;
      margin: 56px 0; }
      header #header__nav ul {
        padding-left: 1.3125em; }
        header #header__nav ul li {
          display: inline-block; }
          header #header__nav ul li a {
            display: block;
            padding: 0 18px 0 22px;
            background: url("images/icons/dot.png") left center no-repeat; }
          header #header__nav ul li:first-child a {
            padding-left: 0;
            background: none; }
          header #header__nav ul li:last-child a {
            padding-right: 0; }
          header #header__nav ul li.nav__seperator + li a {
            padding-left: 18px;
            background: none; }
        header #header__nav ul .nav__seperator {
          width: 12em;
          height: 1em; } }
@media (min-width: 1025px) {
  header #header__nav {
    margin: 53px 0; } }
@media (min-width: 1365px) {
  body:not(.nav-minified) header #header__inner {
    padding-bottom: 136px;
    background: url("images/header.png") center bottom no-repeat; }
  body:not(.nav-minified) header #header__logo {
    width: 19.0625em;
    height: 16.625em;
    padding-top: 2.5em; }
    body:not(.nav-minified) header #header__logo img {
      max-height: 100%; }
  body:not(.nav-minified) header #header__nav {
    margin: 65px 0 0; }
    body:not(.nav-minified) header #header__nav ul .nav__seperator {
      width: 16.8125em; }

  .nav-minified header {
    height: 130px; }
    .nav-minified header #header__inner {
      height: 130px;
      text-align: center; }
    .nav-minified header #header__logo {
      width: 10.675em;
      text-align: center; }
      .nav-minified header #header__logo a {
        display: block; }
      .nav-minified header #header__logo img {
        margin: 0 auto;
        max-height: 110px; }
        .nav-minified header #header__logo img.desktop {
          display: block; }
        .nav-minified header #header__logo img.mobile {
          display: none; }
    .nav-minified header #nav__toggle {
      display: none; }
    .nav-minified header #header__nav {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      padding: 0 15px;
      margin: 56px 0; }
      .nav-minified header #header__nav ul {
        padding-left: 1.3125em; }
        .nav-minified header #header__nav ul li {
          display: inline-block; }
          .nav-minified header #header__nav ul li a {
            display: block;
            padding: 0 18px 0 22px;
            background: url("images/icons/dot.png") left center no-repeat; }
          .nav-minified header #header__nav ul li:first-child a {
            padding-left: 0;
            background: none; }
          .nav-minified header #header__nav ul li:last-child a {
            padding-right: 0; }
          .nav-minified header #header__nav ul li.nav__seperator + li a {
            padding-left: 18px;
            background: none; }
        .nav-minified header #header__nav ul .nav__seperator {
          width: 12em;
          height: 1em; } }
footer {
  width: 100%;
  min-height: 180px;
  padding: 20px 0;
  overflow: auto;
  background: #0b091b url("images/footer.png") absolutecenter top no-repeat;
  text-align: center; }
  footer #footer__inner {
    max-width: 1140px;
    padding: 0 20px;
    overflow: auto; }
  footer #footer__logo {
    display: inline-block;
    margin: 0 auto 0.5em;
    text-align: center; }
    footer #footer__logo a {
      display: inline-block; }
    footer #footer__logo img {
      max-height: 100%;
      width: 5em; }
  footer #footer__links {
    margin-bottom: 0.5em; }
    footer #footer__links .trip-advisor {
      display: none; }
  footer p, footer ul {
    font-size: 0.75em; }
  footer ul {
    width: 100%;
    margin-bottom: 1.5em; }
    footer ul li {
      display: inline-block;
      padding: 0 8px;
      border: 1px solid #707070;
      border-width: 0 0 0 1px;
      vertical-align: middle; }
      footer ul li:first-child {
        padding-left: 0;
        border: none; }
    footer ul a {
      float: left; }
  footer a {
    color: white;
    text-decoration: none; }
    footer a:hover {
      color: #e0d194; }

@media (min-width: 1140px) {
  footer #footer__inner {
    margin: 14px auto; }
  footer #footer__logo {
    position: absolute;
    left: 50%;
    margin: 0 0 0 -55px; }
    footer #footer__logo img {
      width: 7.75em; }
  footer #footer__links,
  footer #footer__credit {
    width: 50%;
    margin: 35px 0;
    float: left; }
  footer #footer__links {
    padding-right: 75px;
    text-align: left; }
    footer #footer__links .trip-advisor {
      display: block;
      float: left;
      width: 4.625em;
      margin: 0 1em 1em 0; }
  footer #footer__credit {
    padding-left: 75px;
    text-align: right; }
    footer #footer__credit p {
      line-height: 1.6666666667em; }
  footer ul {
    margin-bottom: 0.5em;
    line-height: 1.6666666667em; }
  footer p, footer ul {
    font-size: 0.9375em; } }
/* Style rules for markup generated by plugins */
/* nerve slider */
.ns_nerveSlider {
  height: auto !important;
  font-size: 1em;
  display: block !important; }
  .ns_nerveSlider .ns_slideContainer {
    font-size: 1em; }
  .ns_nerveSlider .ns_slides .ns_slidesTrack {
    position: relative; }
  .ns_nerveSlider .ns_dots {
    z-index: 70;
    width: 100%;
    padding: 0 0 4em;
    text-align: center; }
    .ns_nerveSlider .ns_dots .ns_dot {
      display: inline-block;
      float: none !important;
      margin: 0 0.75em;
      background: #6b4880 !important; }
    .ns_nerveSlider .ns_dots .ns_selected {
      background: #e0d194 !important; }
  .ns_nerveSlider .ns_prevButton, .ns_nerveSlider .ns_nextButton {
    width: 2.75em; }
  .ns_nerveSlider .ns_prevButton {
    left: 10px; }
    .ns_nerveSlider .ns_prevButton div {
      background: transparent url("images/icons/slider/arrow-prev.png") 50% 50% no-repeat !important;
      background-size: 100% !important; }
  .ns_nerveSlider .ns_nextButton {
    right: 10px; }
    .ns_nerveSlider .ns_nextButton div {
      background: transparent url("images/icons/slider/arrow-next.png") 50% 50% no-repeat !important;
      background-size: 100% !important; }
  .ns_nerveSlider:hover .ns_prevButton {
    left: 10px; }
  .ns_nerveSlider:hover .ns_nextButton {
    right: 10px; }
  .ns_nerveSlider .ns_pauseButton {
    z-index: 100; }

/* ngg gallery */
.ngg-galleryoverview {
  margin: 0 !important; }

.ngg-gallery-thumbnail-box {
  float: left;
  margin-right: 0 !important; }

.ngg-gallery-thumbnail img {
  width: 100%;
  background: none !important;
  border: none !important;
  padding: 0 !important;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: gray;
  -webkit-filter: grayscale(1); }
  .ngg-gallery-thumbnail img:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: none;
    -webkit-filter: grayscale(0); }

.fancybox-overlay {
  background: url("images/fancybox_overlay.png") !important; }

.fancybox-wrap .fancybox-skin {
  padding: 0 !important; }
.fancybox-wrap .fancybox-close {
  top: 10px;
  right: 10px;
  width: 2.875em;
  height: 2.875em;
  background-image: url("images/icons/close.png");
  background-size: 100%; }
.fancybox-wrap .fancybox-nav {
  width: 2.75em;
  height: 100%;
  opacity: 0;
  transition: all .4s ease; }
  .fancybox-wrap .fancybox-nav span {
    height: 100%;
    max-width: 100%;
    top: 0;
    visibility: visible !important; }
.fancybox-wrap .fancybox-prev {
  left: 10px; }
  .fancybox-wrap .fancybox-prev span {
    left: 0 !important;
    background: transparent url("images/icons/slider/arrow-prev.png") 50% 50% no-repeat !important;
    background-size: 100% !important; }
.fancybox-wrap .fancybox-next {
  right: 10px; }
  .fancybox-wrap .fancybox-next span {
    right: 0 !important;
    background: transparent url("images/icons/slider/arrow-next.png") 50% 50% no-repeat !important;
    background-size: 100% !important; }
.fancybox-wrap:hover .fancybox-nav {
  opacity: 1; }
.fancybox-wrap:hover .fancybox-prev {
  left: 10px; }
.fancybox-wrap:hover .fancybox-next {
  right: 10px; }

@media (max-width: 768px) {
  .ns_nerveSlider .ns_prevButton, .ns_nerveSlider .ns_nextButton {
    opacity: .4; }

  .ngg-galleryoverview br {
    clear: none !important; }

  .ngg-gallery-thumbnail-box {
    width: 33.333333% !important; } }
@media (min-width: 769px) {
  .fancybox-wrap .fancybox-close {
    top: 1.5em;
    right: 1.5em; }
  .fancybox-wrap .fancybox-prev {
    left: 0; }
  .fancybox-wrap .fancybox-next {
    right: 0; }
  .fancybox-wrap:hover .fancybox-prev {
    left: 1.5em; }
  .fancybox-wrap:hover .fancybox-next {
    right: 1.5em; } }
@media (min-width: 769px) {
  .ns_nerveSlider .ns_prevButton {
    left: 0; }
  .ns_nerveSlider .ns_nextButton {
    right: 0; }
  .ns_nerveSlider:hover .ns_prevButton {
    left: 5em; }
  .ns_nerveSlider:hover .ns_nextButton {
    right: 5em; } }
/* Fix for display: inline-block */
.ns_nerveSlider .ns_slidesTrack {
  font-size: 0; }
  .ns_nerveSlider .ns_slidesTrack > * {
    font-size: 16px; }

.testimonial.ns_nerveSlider .ns_slidesTrack {
  font-size: 1em !important; }
  .testimonial.ns_nerveSlider .ns_slidesTrack > * {
    font-size: 1em !important; }

@media (max-width: 1023px) {
  .ns_nerveSlider .ns_slidesTrack > * {
    font-size: 14px; } }
@media (max-width: 768px) {
  .ns_nerveSlider .ns_slidesTrack > * {
    font-size: 12px; } }
@media (max-width: 400px) {
  .ns_nerveSlider .ns_slidesTrack > * {
    font-size: 10px; } }

/* contact form 7 */
span.wpcf7-not-valid-tip {
  color: #6b4880;
  margin-top: 0.625em; }

div.wpcf7-mail-sent-ok {
  border: none;
  color: #6b4880;
  margin-top: 0; }

.wpcf7-not-valid, input.invalid {
  border: 1px solid #e0d194; }

.wpcf7-validation-errors {
  display: none !important; }

/* captcha */
label[for=form-captcha] {
  float: none;
  clear: left;
  margin: 0 auto;
  padding-top: 1.25em; }
  label[for=form-captcha] img {
    box-sizing: content-box;
    padding: 0.3125em 1.5em;
    margin: 0 auto 1em;
    background: #e0d194; }
  label[for=form-captcha] input {
    text-align: center; }

div.wpcf7-form-control.g-recaptcha.wpcf7-recaptcha {
    display: inline-block;
    text-align: center;
 }

/* Accordion styles */
@media (max-width: 768px) {
  #info {
    background: #0b091b;
    transition: padding 0.3s ease; }
    #info section .section__content {
      position: static;
      top: auto;
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0);
      background: #140d22; }
    #info section .section__content-inner {
      padding: 10% 0;
      margin: 0 auto; }
    #info section h2 {
      display: none; }
    #info .active-tab {
      z-index: 80; }
    #info .tab__buttons {
      position: absolute;
      top: 0;
      padding: 0;
      background: transparent; }
      #info .tab__buttons .tab__button {
        display: block;
        width: 100%;
        padding-left: 0;
        transition: padding 0.3s ease; }
    #info .tab__overflow-indicator {
      display: none; }
    #info #info__gallery .section__content-inner {
      padding: 0; } }
@media (min-width: 769px) {
  #info {
    padding: 0 !important; }
    #info .tab__buttons .tab__button {
      padding-bottom: 0 !important; } }
/* BANNERS */
@media (min-width: 1365px) {
  header #header__inner {
    -webkit-transition: all 0.3s ease, background 0s;
    -moz-transition: all 0.3s ease, background 0s;
    -ms-transition: all 0.3s ease, background 0s;
    transition: all 0.3s ease, background 0s; }

  #header__logo {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; } }
#banner article h2, #banner article button, #banner article .cta-button {
  opacity: 0; }
#banner article.ns_selected h2, #banner article.ns_selected button, #banner article.ns_selected .cta-button {
  opacity: 1; }
#banner article.ns_selected h2 {
  -webkit-animation: fadeIn 1.5s ease, slideUp 2s ease;
  -moz-animation: fadeIn 1.5s ease, slideUp 2s ease;
  -ms-animation: fadeIn 1.5s ease, slideUp 2s ease;
  -o-animation: fadeIn 1.5s ease, slideUp 2s ease;
  animation: fadeIn 1.5s ease, slideUp 2s ease; }
#banner article.ns_selected button, #banner article.ns_selected .cta-button {
  -webkit-animation: fadeIn 2.25s ease;
  -moz-animation: fadeIn 2.25s ease;
  -o-animation: fadeIn 2.25s ease;
  animation: fadeIn 2.25s ease; }
  #banner article.ns_selected button:hover, #banner article.ns_selected .cta-button:hover {
    -webkit-animation: fadeIn 2.25s ease, animatedBorder 1s linear infinite;
    -moz-animation: fadeIn 2.25s ease, animatedBorder 1s linear infinite;
    -ms-animation: fadeIn 2.25s ease, animatedBorder 1s linear infinite;
    -o-animation: fadeIn 2.25s ease, animatedBorder 1s linear infinite;
    animation: fadeIn 2.25s ease, animatedBorder 1s linear infinite; }

/* Webkit */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0; }

  66% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(1em); }

  75% {
    -webkit-transform: translateY(1em); }

  100% {
    -webkit-transform: translateY(0); } }
/* Mozilla */
@-moz-keyframes fadeIn {
  0% {
    opacity: 0; }

  66% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(1em); }

  75% {
    -moz-transform: translateY(1em); }

  100% {
    -moz-transform: translateY(0); } }
/* IE */
@-ms-keyframes fadeIn {
  0% {
    opacity: 0; }

  66% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-ms-keyframes slideUp {
  0% {
    -ms-transform: translateY(1em); }

  75% {
    -ms-transform: translateY(1em); }

  100% {
    -ms-transform: translateY(0); } }
/* Opera */
@-o-keyframes fadeIn {
  0% {
    opacity: 0; }

  66% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(1em); }

  75% {
    -o-transform: translateY(1em); }

  100% {
    -o-transform: translateY(0); } }
/* Default */
@keyframes fadeIn {
  0% {
    opacity: 0; }

  66% {
    opacity: 0; }

  100% {
    opacity: 1; } }
@keyframes slideUp {
  0% {
    transform: translateY(1em); }

  75% {
    transform: translateY(1em); }

  100% {
    transform: translateY(0); } }
/* BOOK TICKET */
#event #event__bookticket {
  -webkit-transition: left 0.5s ease, height 0s ease;
  -moz-transition: left 0.5s ease, height 0s ease;
  -o-transition: left 0.5s ease, height 0s ease;
  transition: left 0.5s ease, height 0s ease; }

/* CTA BUTTONS */
button,
.cta-button {
  background-image: url("images/cta-button-border.png"), url("images/cta-button-border.png"), url("images/cta-button-border.png"), url("images/cta-button-border.png");
  background-size: 100%;
  background-image: -webkit-linear-gradient(90deg, #e0d194, #faf7ed, #faf7ed, #e0d194), -webkit-linear-gradient(0deg, #e0d194, #faf7ed, #faf7ed, #e0d194), -webkit-linear-gradient(270deg, #e0d194, #faf7ed, #faf7ed, #e0d194), -webkit-linear-gradient(180deg, #e0d194, #faf7ed, #faf7ed, #e0d194);
  background-image: -moz-linear-gradient(90deg, #e0d194, #faf7ed, #faf7ed, #e0d194), -moz-linear-gradient(0deg, #e0d194, #faf7ed, #faf7ed, #e0d194), -moz-linear-gradient(270deg, #e0d194, #faf7ed, #faf7ed, #e0d194), -moz-linear-gradient(180deg, #e0d194, #faf7ed, #faf7ed, #e0d194);
  background-image: -ms-linear-gradient(90deg, #e0d194, #faf7ed, #faf7ed, #e0d194), -ms-linear-gradient(0deg, #e0d194, #faf7ed, #faf7ed, #e0d194), -ms-linear-gradient(270deg, #e0d194, #faf7ed, #faf7ed, #e0d194), -ms-linear-gradient(180deg, #e0d194, #faf7ed, #faf7ed, #e0d194);
  background-image: -o-linear-gradient(90deg, #e0d194, #faf7ed, #faf7ed, #e0d194), -o-linear-gradient(0deg, #e0d194, #faf7ed, #faf7ed, #e0d194), -o-linear-gradient(270deg, #e0d194, #faf7ed, #faf7ed, #e0d194), -o-linear-gradient(180deg, #e0d194, #faf7ed, #faf7ed, #e0d194);
  background-image: linear-gradient(90deg, #e0d194, #faf7ed, #faf7ed, #e0d194), linear-gradient(0deg, #e0d194, #faf7ed, #faf7ed, #e0d194), linear-gradient(270deg, #e0d194, #faf7ed, #faf7ed, #e0d194), linear-gradient(180deg, #e0d194, #faf7ed, #faf7ed, #e0d194);
  background-size: 200% 3px, 3px 200%;
  background-position: 0%   0, 100% 100%, 100% 100%, 0 0%;
  background-repeat: repeat-x, repeat-y;
  -webkit-box-shadow: 0 0 40px 0px rgba(248, 245, 187, 0.25);
  -moz-box-shadow: 0 0 40px 0px rgba(248, 245, 187, 0.25);
  box-shadow: 0 0 40px 0px rgba(248, 245, 187, 0.25); }
  button:hover,
  .cta-button:hover {
    -webkit-animation: animatedBorder 1s linear infinite;
    -moz-animation: animatedBorder 1s linear infinite;
    -ms-animation: animatedBorder 1s linear infinite;
    -o-animation: animatedBorder 1s linear infinite;
    animation: animatedBorder 1s linear infinite; }

/* Webkit */
@-webkit-keyframes animatedBorder {
  0% {
    background-position: 0%   0, 100% 100%, 100% 100%,   0   0%; }

  25% {
    background-position: 50%   0, 100% 150%, 150% 100%,   0  50%; }

  50% {
    background-position: 100%   0, 100% 200%, 200% 100%,   0 100%; }

  75% {
    background-position: 150%   0, 100% 250%, 250% 100%,   0 150%; }

  100% {
    background-position: 200%   0, 100% 300%, 300% 100%,   0 200%; } }
/* Mozilla */
@-moz-keyframes animatedBorder {
  0% {
    background-position: 0%   0, 100% 100%, 100% 100%,   0   0%; }

  25% {
    background-position: 50%   0, 100% 150%, 150% 100%,   0  50%; }

  50% {
    background-position: 100%   0, 100% 200%, 200% 100%,   0 100%; }

  75% {
    background-position: 150%   0, 100% 250%, 250% 100%,   0 150%; }

  100% {
    background-position: 200%   0, 100% 300%, 300% 100%,   0 200%; } }
/* IE */
@-ms-keyframes animatedBorder {
  0% {
    background-position: 0%   0, 100% 100%, 100% 100%,   0   0%; }

  25% {
    background-position: 50%   0, 100% 150%, 150% 100%,   0  50%; }

  50% {
    background-position: 100%   0, 100% 200%, 200% 100%,   0 100%; }

  75% {
    background-position: 150%   0, 100% 250%, 250% 100%,   0 150%; }

  100% {
    background-position: 200%   0, 100% 300%, 300% 100%,   0 200%; } }
/* Opera */
@-o-keyframes animatedBorder {
  0% {
    background-position: 0%   0, 100% 100%, 100% 100%,   0   0%; }

  25% {
    background-position: 50%   0, 100% 150%, 150% 100%,   0  50%; }

  50% {
    background-position: 100%   0, 100% 200%, 200% 100%,   0 100%; }

  75% {
    background-position: 150%   0, 100% 250%, 250% 100%,   0 150%; }

  100% {
    background-position: 200%   0, 100% 300%, 300% 100%,   0 200%; } }
/* Default */
@keyframes animatedBorder {
  0% {
    background-position: 0%   0, 100% 100%, 100% 100%,   0   0%; }

  25% {
    background-position: 50%   0, 100% 150%, 150% 100%,   0  50%; }

  50% {
    background-position: 100%   0, 100% 200%, 200% 100%,   0 100%; }

  75% {
    background-position: 150%   0, 100% 250%, 250% 100%,   0 150%; }

  100% {
    background-position: 200%   0, 100% 300%, 300% 100%,   0 200%; } }
/* Specific section rules */
#banner article .section__content h2 img {
  margin-bottom: 0; }
#banner article:first-child .section__content-inner, #banner article:nth-child(3) .section__content-inner {
  margin: 0 33% 0 17%; }
#banner article:nth-child(4) .section__content-inner {
  margin: 0 40% 0 10%; }
#banner article:nth-child(5) .section__content-inner {
  margin: 0 35.5% 0 14.5%; }

@media (min-width: 1367px) {
  #banner article:nth-child(2) .section__content, #banner article:nth-child(5) .section__content {
    padding-top: 7.8125em; } }
@media (min-width: 1600px) {
  #banner article:nth-child(2) .section__content, #banner article:nth-child(5) .section__content {
    padding-top: 15.625em; } }
.testimonial {
  height: auto !important;
  background: #2c0d3f url("images/testimonial-bg.jpg") center center no-repeat;
  background-size: cover; }
  .testimonial article {
    height: auto !important;
    padding-bottom: 40px !important;
    margin: 4.6875em 0 !important;
    white-space: normal; }
    .testimonial article .section__content {
      position: static;
      top: auto;
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0); }

#info .section__content p, #info .section__content ul {
  width: 350px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  text-align: left; }
#info .section__content-inner {
  margin: 0 40% 0 10%; }

#info__gallery .section__content {
  position: static;
  top: auto;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0); }
#info__gallery .section__content-inner {
  width: 100%;
  margin: 0; }

#event {
  overflow: hidden; }
  #event > section {
    float: left;
    width: 50%; }
  #event > .mobiletabs {
    z-index: 73; }
  #event #event__dates section {
    position: absolute;
    top: 0; }
  #event #event__dates .section__content p {
    width: 320px;
    margin: 0 auto 1em; }
  #event #event__dates .section__content .dates__month {
    margin-bottom: 0;
    color: #e0d194;
    font-family: "adobe-garamond-pro", serif;
    font-size: 1.375em;
    font-style: italic; }
  #event #event__dates .section__content .dates__day {
    margin-bottom: 0.5em;
    color: white;
    font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
    font-size: 3em;
    letter-spacing: 3px;
    text-transform: uppercase; }
  #event #event__dates .section__content .dates__date {
    padding-bottom: 2.75em;
    margin-bottom: 2.75em;
    background: url("images/icons/hr-gold.png") center bottom no-repeat; }
    #event #event__dates .section__content .dates__date img {
      display: inline-block;
      margin: 0;
      height: 9.1875em; }
  #event #event__dates .section__content button, #event #event__dates .section__content .cta-button {
    margin-top: 0.6666666667em; }
  #event #event__dates .section__content .iconlist {
    margin-top: 1.75em; }
    #event #event__dates .section__content .iconlist li {
      font-size: 0.9375em; }
      #event #event__dates .section__content .iconlist li a {
        line-height: 20px; }
  #event #event__dates .tab__buttons .tab__button-inner {
    padding: 0.75em; }
  #event #event__dates .tab__buttons a {
    font-size: 3em; }
  #event #event__acts .section__content h3 {
    padding-bottom: 1.375rem;
    margin-bottom: 1.375rem;
    background: url("images/icons/hr-white.png") center bottom no-repeat; }
  #event #event__acts .section__content p {
    color: white;
    line-height: 0;
    margin-bottom: 0;
    overflow: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  #event #event__acts .section__content-inner {
    -webkit-backface-visibility: hidden;
    -webkit-transition: opacity 0.3s ease;
    -moz-transition: opacity 0.3s ease;
    -o-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease; }
  #event #event__acts .act__toggle {
    display: block;
    width: 2.125em;
    height: 2.125em;
    margin: 0 auto 0.5em;
    border-radius: 50%;
    background: #e0d194 url("images/icons/info.png") center top no-repeat;
    background-size: 100%; }
  #event #event__acts .open .act__toggle {
    background-position: center bottom; }
  #event #event__acts .open p {
    line-height: 1em;
    margin-bottom: 1em;
    opacity: 1.0;
    overflow: initial; }
  #event #event__bookticket {
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 74;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; }
    #event #event__bookticket #bookticket__content {
      height: 100%; }
      #event #event__bookticket #bookticket__content #bookticket__close {
        display: none;
        position: absolute;
        top: 2em;
        right: 1em;
        z-index: 86;
        padding-right: 3.55em;
        background: url("images/icons/close.png") right center no-repeat;
        background-size: contain;
        color: white;
        font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
        font-size: 1.25em;
        line-height: 2.3em;
        text-decoration: none;
        text-transform: uppercase; }
        #event #event__bookticket #bookticket__content #bookticket__close:hover {
          color: #e0d194; }
        #event #event__bookticket #bookticket__content #bookticket__close.active {
          display: block; }
      #event #event__bookticket #bookticket__content article {
        height: 100%;
        padding: 2.5em 0;
        background: #21082b; }
        #event #event__bookticket #bookticket__content article .section__content {
          height: 100%;
          position: static;
          top: initial;
          overflow: hidden;
          -webkit-transform: translate(0, 0);
          -moz-transform: translate(0, 0);
          -ms-transform: translate(0, 0);
          -o-transform: translate(0, 0);
          transform: translate(0, 0); }
        #event #event__bookticket #bookticket__content article .section__content-inner {
          width: 80%; }
        #event #event__bookticket #bookticket__content article .section__title h2 {
          color: white;
          font-size: 2.5em;
          padding-top: 75px;
          background: url("images/icons/book-ticket.png") center top no-repeat; }
        #event #event__bookticket #bookticket__content article .section__title em {
          color: #e0d194;
          font-size: 1.25em; }
      #event #event__bookticket #bookticket__content .booknow-popup {
        display: none; }
        #event #event__bookticket #bookticket__content .booknow-popup.active {
          display: block; }
        #event #event__bookticket #bookticket__content .booknow-popup form {
          width: 100%;
          margin: 0;
          overflow: auto; }
          #event #event__bookticket #bookticket__content .booknow-popup form .eventbrite__options {
            float: left;
            margin-top: 1.125em; }
            #event #event__bookticket #bookticket__content .booknow-popup form .eventbrite__options .iconlist {
              margin-bottom: 0.4375em; }
              #event #event__bookticket #bookticket__content .booknow-popup form .eventbrite__options .iconlist li {
                margin: 0;
                font-size: 0.9375em; }
            #event #event__bookticket #bookticket__content .booknow-popup form .eventbrite__options img {
              width: 8.1875em;
              margin: 0; }
        #event #event__bookticket #bookticket__content .booknow-popup table {
          table-layout: fixed;
          width: 100%;
          border-bottom: 1px solid #2c0d3f; }
        #event #event__bookticket #bookticket__content .booknow-popup tr th, #event #event__bookticket #bookticket__content .booknow-popup tr td {
          padding: 0.5em 0;
          vertical-align: top; }
          #event #event__bookticket #bookticket__content .booknow-popup tr th:first-child, #event #event__bookticket #bookticket__content .booknow-popup tr td:first-child {
            text-align: left; }
          #event #event__bookticket #bookticket__content .booknow-popup tr th span, #event #event__bookticket #bookticket__content .booknow-popup tr th .more-info, #event #event__bookticket #bookticket__content .booknow-popup tr td span, #event #event__bookticket #bookticket__content .booknow-popup tr td .more-info {
            display: inline-block;
            padding: 0.25em 0 0;
            font-size: 0.7em;
            line-height: 1.25em; }
          #event #event__bookticket #bookticket__content .booknow-popup tr th span, #event #event__bookticket #bookticket__content .booknow-popup tr td span {
            display: none;
            overflow: hidden; }
          #event #event__bookticket #bookticket__content .booknow-popup tr th .more-info, #event #event__bookticket #bookticket__content .booknow-popup tr td .more-info {
            font-family: "adobe-garamond-pro", serif;
            font-style: italic;
            text-decoration: none; }
          #event #event__bookticket #bookticket__content .booknow-popup tr th .more-info:before, #event #event__bookticket #bookticket__content .booknow-popup tr td .more-info:before {
            content: 'More information'; }
        #event #event__bookticket #bookticket__content .booknow-popup tr th {
          text-transform: uppercase; }
          #event #event__bookticket #bookticket__content .booknow-popup tr th.type {
            width: 60%;
            text-align: left; }
          #event #event__bookticket #bookticket__content .booknow-popup tr th.price {
            width: 20%; }
          #event #event__bookticket #bookticket__content .booknow-popup tr th.quantity {
            width: 20%; }
        #event #event__bookticket #bookticket__content .booknow-popup tr input {
          width: 2.25em;
          background: #21082b;
          border: 1px solid white;
          color: white;
          font-size: 0.8em;
          line-height: 1.6875em;
          text-align: center; }
        #event #event__bookticket #bookticket__content .booknow-popup tr:last-child td {
          padding: 0.5em 0 0.9em; }
        #event #event__bookticket #bookticket__content .booknow-popup tr.open .more-info:before {
          content: 'Less information'; }
        #event #event__bookticket #bookticket__content .booknow-popup .cta-button {
          float: right;
          margin: 1em 0 0; }
    #event #event__bookticket.open {
      left: 0;
      height: 100%;
      opacity: 1; }

@media (min-width: 960px) {
  #event #event__bookticket {
    width: 50%; }
    #event #event__bookticket.open {
      left: 50%; } }
@media (min-width: 640px) and (max-width: 959px), (min-width: 1600px) {
  #event #event__bookticket #bookticket__content .booknow-popup tr th, #event #event__bookticket #bookticket__content .booknow-popup tr td {
    font-size: 1.25em; } }
@media (max-width: 480px), (min-width: 960px) and (max-width: 1599px) {
  #event #event__bookticket #bookticket__content article .section__title {
    margin-bottom: 2em; }
    #event #event__bookticket #bookticket__content article .section__title h2 {
      padding-top: 0;
      background: none; } }
@media (max-width: 480px), (min-width: 960px) and (max-width: 1279px) {
  #event #event__bookticket #bookticket__content #bookticket__close {
    width: 0;
    padding-right: 2.3em;
    overflow: hidden;
    text-indent: 50em; } }
@media (min-width: 960px) and (max-width: 1139px) {
  #event #event__bookticket #bookticket__content article {
    padding: 1.5em 0; }
    #event #event__bookticket #bookticket__content article .section__title {
      margin-bottom: 1em; }
      #event #event__bookticket #bookticket__content article .section__title h2 {
        font-size: 2em; }
      #event #event__bookticket #bookticket__content article .section__title em {
        font-size: 1.125em; }
    #event #event__bookticket #bookticket__content article .cta-button {
      font-size: 1em; } }
#social {
  background: black url("images/assets/backgrounds/social.jpg") center bottom no-repeat;
  background-size: 100%; }
  #social .section__content {
    position: static;
    top: initial;
    margin: 4.6875em auto !important;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  #social .social__grid {
    width: 100%;
    margin-top: 3.5em;
    overflow: auto; }
    #social .social__grid .social__block, #social .social__grid .w2xh2 {
      width: 100%; }
    #social .social__grid .social__block {
      position: relative;
      float: left;
      padding: 0.125%; }
      #social .social__grid .social__block .social__block-inner {
        position: relative;
        width: 100%;
        height: 100%;
        background: #2c0d3f }
      #social .social__grid .social__block .social__block-content {
        width: 100%;
        height: 100%;
        padding: 17% 8.5% 17.5%;
        overflow: hidden;
        text-align: left; }
        #social .social__grid .social__block .social__block-content p {
          margin-bottom: 0; }
      #social .social__grid .social__block.instagram .social__block-content {
        padding: 0; }
        #social .social__grid .social__block.instagram .social__block-content img {
          width: 100%; }
      #social .social__grid .social__block p {
        color: white;
        line-height: 1.25em; }
        #social .social__grid .social__block p:last-child {
          position: absolute;
          bottom: 8.5%;
          margin-bottom: 0; }
        #social .social__grid .social__block p small {
          font-size: 0.7857em;
          text-transform: uppercase; }
          #social .social__grid .social__block p small a {
            color: #6b4880;
            text-decoration: none; }
    #social .social__grid .twitter .social__block-content {
      background: url("images/icons/social/wall/twitter.png") 91.5% 91.5% no-repeat; }
    #social .social__grid .instagram .instagram__overlay {
      position: absolute;
      bottom: 4.25%;
      right: 4.25%;
      width: 19px;
      height: 19px;
      background: url("images/icons/social/wall/instagram.png") center center no-repeat; }
    #social .social__grid .w2xh2 {
      float: left;
      overflow: auto; }
      #social .social__grid .w2xh2 .social__block {
        width: 50%;
        padding: 0.5%; }
      #social .social__grid .w2xh2 .instagram .instagram__overlay {
        bottom: 8.5%;
        right: 8.5%; }

#offers {
  background: black url("images/assets/backgrounds/offers.jpg") center top no-repeat;
  background-size: 100%; }
  #offers .section__content {
    position: static;
    top: initial;
    margin: 12.5em auto !important;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  #offers h2 {
    font-size: 1.875em; }
  #offers form {
    width: 45em;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 20px; }
    #offers form label input {
      text-align: center; }
    #offers form .cta-button {
      display: block; }

#overlay__close {
  display: none;
  padding-right: 71px;
  background: url("images/icons/close.png") right center no-repeat;
  color: white;
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 1.25em;
  line-height: 46px;
  text-decoration: none;
  text-transform: uppercase; }
  #overlay__close:hover {
    color: #e0d194; }

.overlay h3, #overlay--contact h3 {
  font-size: 1.25em;
  margin-bottom: 0.66667em; }
.overlay .tab__buttons, #overlay--contact .tab__buttons {
  z-index: 90; }
.overlay section .section__content, #overlay--contact section .section__content {
  position: relative; }
.overlay aside, #overlay--contact aside {
  width: 390px;
  margin: 0 0 2em 25px;
  float: left;
  text-align: left; }
  .overlay aside p, #overlay--contact aside p {
    margin: 0 auto 0.25em !important; }

#contact {
  background: #0b091b; }
  #contact form label:nth-child(1),
  #contact form label:nth-child(2) {
    padding-top: 0; }
  #contact form label:nth-child(5) {
    padding-bottom: 0; }
  #contact form .message {
    width: 100%; }

#faqs {
  background: #0b091b; }
  #faqs .faqs {
    max-width: 1140px;
    margin: 0 auto; }
  #faqs .faq {
    max-width: 32em;
    border-bottom: 1px solid #707070;
    text-align: left; }
    #faqs .faq:last-child {
      border-bottom: 0; }
    #faqs .faq h3:before, #faqs .faq h3:after {
      -webkit-backface-visibility: hidden;
      -webkit-transition: all 0.3s ease, margin 0s 0.3s ease;
      -moz-transition: all 0.3s ease, margin 0s 0.3s ease;
      -ms-transition: all 0.3s ease, margin 0s 0.3s ease;
      -o-transition: all 0.3s ease, margin 0s 0.3s ease;
      transition: all 0.3s ease, margin 0s 0.3s ease; }
    #faqs .faq h3 {
      position: relative;
      padding-left: 2.8125em;
      margin: 0.8em 0;
      cursor: pointer;
      font-size: 1em; }
      #faqs .faq h3:before, #faqs .faq h3:after {
        content: '';
        position: absolute;
        top: 12.5%;
        left: 0;
        z-index: -1;
        width: 1px;
        margin: 0 0.5em;
        height: 75%;
        background: white; }
      #faqs .faq h3::after {
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg); }
      #faqs .faq h3::before {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg); }
    #faqs .faq.active h3::before {
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      transform: rotate(-45deg); }
    #faqs .faq.active h3::after {
      -webkit-transform: rotate(45deg);
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      transform: rotate(45deg); }
    #faqs .faq p {
      max-height: 0;
      padding-left: 2.8125em;
      margin-bottom: 0;
      overflow: hidden;
      -webkit-backface-visibility: hidden;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease; }
    #faqs .faq.active p {
      max-height: 8em;
      margin-bottom: 1em; }

#location {
  background: #0b091b url("images/assets/backgrounds/location.jpg") center center no-repeat;
  background-size: cover; }
  #location .section__content {
    position: relative;
    padding-bottom: 1.25em; }
  #location .section__title {
    margin-bottom: 2.25em; }
  #location img {
    margin: 0 auto 3.75em; }

.iconlist li {
  display: inline-block;
  margin-top: 1em;
  margin: 0 1em 1em;
  font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
  font-size: 1.125em;
  text-transform: uppercase; }
  .iconlist li a {
    display: block;
    padding-left: 26px;
    background-position: left top;
    background-repeat: no-repeat;
    color: #e0d194;
    font-weight: 500;
    overflow: hidden;
    letter-spacing: 2px;
    line-height: 18px;
    text-decoration: none; }
    .iconlist li a:hover {
      background-position: left bottom;
      color: white; }
  .iconlist li.twitter a {
    background-image: url("images/icons/social/twitter.png"); }
  .iconlist li.facebook a {
    background-image: url("images/icons/social/facebook.png"); }
  .iconlist li.instagram a {
    background-image: url("images/icons/social/instagram.png"); }
  .iconlist li.tickets a {
    background-image: url("images/icons/tickets.png"); }
  .iconlist li.menu a {
    background-image: url("images/icons/menu.png"); }
  .iconlist li.location a {
    background-image: url("images/icons/location.png"); }
  .iconlist li.noicon a {
    padding-left: 0;
    background: none; }

/* Static page */
#main-content {
  background: #140d22; }
  #main-content #content {
    width: 1140px;
    max-width: 93.75%;
    margin: 0 auto;
    padding: 5em 0; }
    #main-content #content h1, #main-content #content h2, #main-content #content h3, #main-content #content h4, #main-content #content ul, #main-content #content ol {
      margin-bottom: 1em; }
    #main-content #content ul, #main-content #content ol {
      padding-left: 2em; }
    #main-content #content h1 {
      color: white;
      text-align: center; }
    #main-content #content p, #main-content #content li {
      color: #707070; }

#secondary {
  display: none; }

@media (min-width: 1365px) {
  #main-content #content {
    padding: 10em 0; } }
@media (max-width: 959px) {
  #event > section {
    float: none;
    width: 100%; }
  #event #event__dates {
    display: block !important; }
  #event #event__acts {
    position: absolute;
    top: 0; } }
@media (min-width: 960px) {
  #event > section {
    display: block !important; }
  #event #event__acts {
    width: 50% !important; }
  #event > .mobiletabs {
    display: none; } }
@media (max-width: 1024px) {
  .testimonial article .section__content-inner {
    width: 75%; }

  #event .tab__buttons a {
    font-size: 2em; }

  #social li {
    width: 16px; } }
@media (max-width: 1199px) {
  .overlay form, #overlay--contact form {
    width: 100%;
    max-width: 725px;
    margin: 0 auto 2em; }
  .overlay aside, #overlay--contact aside {
    width: 50%;
    min-width: 320px;
    margin: 0 0 2em;
    padding: 0 20px;
    float: left;
    text-align: left; } }
@media (min-width: 1200px) {
  .overlay form, #overlay--contact form {
    float: left;
    width: 725px;
    padding: 0 65px; }
    .overlay form label input, #overlay--contact form label input {
      width: 277px; } }
@media (min-width: 1024px) {
  #faqs .faq {
    width: 45%;
    float: left; }
    #faqs .faq:nth-child(even) {
      margin-left: 5%; }
    #faqs .faq:nth-child(odd) {
      margin-right: 5%;
      clear: left; }
    #faqs .faq:nth-last-child(2), #faqs .faq:last-child {
      border-bottom: 0; } }
@media (min-width: 1024px) and (max-width 1280px) {
  #faqs .faq h3 {
    font-size: 1em !important; } }
@media (min-width: 1024px) {
  #social .social__grid .social__block, #social .social__grid .w2xh2 {
    width: 50%; }
  #social .social__grid.blocks--4 .social__block, #social .social__grid.blocks--4 .w2xh2 {
    width: 100%; }
  #social .social__grid.blocks--4 .w2xh2 .social__block {
    width: 50%; } }
@media (min-width: 1600px) {
  #social .social__grid .social__block, #social .social__grid .w2xh2 {
    width: 25%; }
  #social .social__grid .social__block p {
    font-size: 0.9375em; }
  #social .social__grid.blocks--5 .social__block, #social .social__grid.blocks--5 .w2xh2 {
    width: 50%; }
  #social .social__grid.blocks--4 .social__block, #social .social__grid.blocks--4 .w2xh2 {
    width: 100%; }
  #social .social__grid.blocks--4 .w2xh2 .social__block {
    width: 25%; }
  #social .social__grid.blocks--4 .w2xh2 .social__block:nth-child(3) {
    float: right; } }
.ajaxloader {
  display: none; }
  .ajaxloader.loading {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 70;
    display: block;
    width: 100%;
    height: 100%;
    background: black url("images/icons/loader.gif") center center no-repeat;
    opacity: 0.5; }

@media (max-width: 1365px), (max-height: 959px) {
  .overlay section, #overlay--contact section {
    padding: 4em 0; }
    .overlay section .section__content, #overlay--contact section .section__content {
      width: auto;
      margin: 0 20px;
      top: auto;
      -webkit-transform: translate(0, 0);
      -moz-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      -o-transform: translate(0, 0);
      transform: translate(0, 0); }

  #overlay--contact > section {
    display: block !important; }
  #overlay--contact .tab__buttons {
    display: none; }

  #faqs {
    background: #140D22; }
    #faqs .faq {
      margin: 0 auto; } }
@media (max-width: 400px) {
  #faqs .faq h3 {
    padding-left: 2.25em; } }
@media (min-width: 1366px) and (min-height: 960px) {
  #overlay__close {
    position: fixed;
    top: 208px;
    right: 85px;
    z-index: 100; }
    #overlay__close.active {
      display: block; }

  .nav-minified #overlay__close {
    top: 180px; }

  .overlay, #overlay--contact {
    position: fixed;
    top: 0;
    z-index: 85;
    height: 0;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.7s 0.6s ease, height 0s 1.0s;
    -moz-transition: opacity 0.7s 0.6s ease, height 0s 1.0s;
    -o-transition: opacity 0.7s 0.6s ease, height 0s 1.0s;
    transition: opacity 0.7s 0.6s ease, height 0s 1.0s; }
    .overlay section, #overlay--contact section {
      height: 100%;
      padding-top: 130px; }
      .overlay section .section__content, #overlay--contact section .section__content {
        margin: 0 auto;
        max-width: 1140px;
        opacity: 0;
        -webkit-transition: opacity 0.3s 0.0s ease;
        -moz-transition: opacity 0.3s 0.0s ease;
        -o-transition: opacity 0.3s 0.0s ease;
        transition: opacity 0.3s 0.0s ease; }
    .overlay.open, .open#overlay--contact {
      height: 100%;
      opacity: 1.0;
      -webkit-transition: opacity 0.7s 0.0s ease;
      -moz-transition: opacity 0.7s 0.0s ease;
      -o-transition: opacity 0.7s 0.0s ease;
      transition: opacity 0.7s 0.0s ease; }
      .overlay.open section .section__content, .open#overlay--contact section .section__content {
        opacity: 1;
        -webkit-transition: opacity 0.3s 0.7s ease;
        -moz-transition: opacity 0.3s 0.7s ease;
        -o-transition: opacity 0.3s 0.7s ease;
        transition: opacity 0.3s 0.7s ease; } }
@media (min-width: 1366px) {
  .overlay section .section__content, #overlay--contact section .section__content {
    margin: 0 auto;
    max-width: 1140px; }

  #faqs .faq h3 {
    font-size: 1.25em;
    padding-left: 2.25em; } }
@media (max-width: 640px) {
  #event #event__dates .section__content .dates__day {
    font-size: 2em; }
  #event #event__dates .section__content .dates__date {
    padding-bottom: 0;
    margin-bottom: 1em;
    background: none; }
    #event #event__dates .section__content .dates__date img {
      height: 6.25em; } }
@media (max-width: 400px) {
  #event #event__dates .section__content .dates__date img {
    height: 5em; }

  #faqs .faq p {
    font-size: 1em; } }


/* Overrides for custom page */
#light #page-headline h1.site-title {
  padding-top: 25px;
  font-size: 40px;
  text-transform:none;
  width: 400px;
  margin: 0 auto;
  text-alignment: center;
}
