@charset "UTF-8";

@import "css/vars";
@import "css/normalize";
@import "css/reset";
@import "css/global";	
@import "css/typography";

@import "css/structure";
@import "css/header";
@import "css/footer";
@import "css/custom";
@import "css/accordion";
@import "css/animation";


/* Specific section rules */

#banner {
	article {
		.section__content {
			h2 img {
				margin-bottom: 0;
			}
		}
		&:first-child,
		&:nth-child(3) {
			.section__content-inner {
				margin: 0 33% 0 17%;
			}
		}
		&:nth-child(4) {
			.section__content-inner {
				margin: 0 40% 0 10%;
			}
		}
		&:nth-child(5) {
			.section__content-inner {
				margin: 0 35.5% 0 14.5%;
			}
		}
	}
}

@media (min-width: 1367px) {

	#banner {
		article {
			&:nth-child(2),
			&:nth-child(5) {
				.section__content {
					padding-top: 7.8125em;
				}
			}
		}
	}

}

@media (min-width: 1600px) {

	#banner {
		article {
			&:nth-child(2),
			&:nth-child(5) {
				.section__content {
					padding-top: 15.625em;
				}
			}
		}
	}

}

.testimonial {
	height: auto !important;
	background: $purple url('images/testimonial-bg.jpg') center center no-repeat;
	background-size: cover;
	article {
		height: auto !important;
		padding-bottom: 40px !important;
		margin: 4.6875em 0 !important;
		white-space: normal;
		.section__content {
			position: static;
			top: auto;
			// margin-top: auto !important;
			-webkit-transform:translate(0, 0);
			   -moz-transform:translate(0, 0);
			    -ms-transform:translate(0, 0);
			     -o-transform:translate(0, 0);
			        transform:translate(0, 0);
		}
	}
}

#info {
	.section__content {
		p, ul {
			width: 350px;
			margin-left: auto;
			margin-right: auto;
			color: #fff;
			text-align: left;
		}
	}
	.section__content-inner {
		margin: 0 40% 0 10%;
	}
}

#info__gallery {
	.section__content {
		position: static;
		top: auto;
		-webkit-transform:translate(0, 0);
		   -moz-transform:translate(0, 0);
		    -ms-transform:translate(0, 0);
		     -o-transform:translate(0, 0);
		        transform:translate(0, 0);
	}
	.section__content-inner {
		width: 100%;
		margin: 0;
	}
}

#event {
	overflow: hidden;
	> section {
		float: left;
		width: 50%;
	}

	> .mobiletabs {
		z-index: 73;
	}

	#event__dates {
		section {
			position: absolute;
			top: 0;
		}
		.section__content {
			p {
				width: 320px;
				margin: 0 auto 1em;
			}
			.dates__month {
				margin-bottom: 0;
				color: $gold;
			    font-family: "adobe-garamond-pro", serif;
			    font-size: 1.375em;
			    font-style: italic;
			}
			.dates__day {
				margin-bottom: 0.5em;
				color: $white;
			    font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
				font-size: 3em;
				letter-spacing: 3px;
				text-transform: uppercase;
			}
			.dates__date {
				padding-bottom: 2.75em;
				margin-bottom: 2.75em;
				background: url('images/icons/hr-gold.png') center bottom no-repeat;
				img {
					display: inline-block;
					margin: 0;
					height: 9.1875em;
				}
			}
			button, .cta-button {
				margin-top: 0.6666666667em;
			}
			.iconlist {
				margin-top: 1.75em;
				li {
					font-size: 0.9375em;
					a {
						line-height: 20px;
					}
				}
			}
		}
		.tab__buttons {
			.tab__button-inner {
				padding: 0.75em;
			}
			a {
				font-size: 3em;
			}
		}
	}

	#event__acts {
		.section__content {
			h3 {
				padding-bottom: 1.375rem;
				margin-bottom: 1.375rem;
				background: url('images/icons/hr-white.png') center bottom no-repeat;
			}
			p {
				color: $white;
				line-height: 0;
				margin-bottom: 0;
				overflow: hidden;
				opacity: 0;
		        -webkit-transition: all 0.3s ease;
		           -moz-transition: all 0.3s ease;
		            -ms-transition: all 0.3s ease;
		                transition: all 0.3s ease;
			}
		}
		.section__content-inner {
			-webkit-backface-visibility: hidden;
            -webkit-transition: opacity 0.3s ease;
               -moz-transition: opacity 0.3s ease;
                 -o-transition: opacity 0.3s ease;
                    transition: opacity 0.3s ease;
		}
		.act__toggle {
			display: block;
			width: 2.125em;
			height: 2.125em;
			margin: 0 auto 0.5em;
			border-radius: 50%;
			background: $gold url('images/icons/info.png') center top no-repeat;
			background-size: 100%;
		}
		.open {
			.act__toggle {
				background-position: center bottom;
			}
			p {
				line-height: 1em;
				margin-bottom: 1em;
				opacity: 1.0;
				overflow: initial;
			}
		}
	}

	#event__bookticket {
		position: absolute;
		top: 0;
		left: 100%;
		z-index: 74;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		#bookticket__content {
			height: 100%;
			#bookticket__close {
				display: none;
				position: absolute;
				top: 2em;
				right: 1em;
				z-index: 86;
				padding-right: 3.55em; // 71px
				background: url('images/icons/close.png') right center no-repeat;
				background-size: contain;
				color: $white;
			    font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
				font-size: 1.25em;
				line-height: 2.3em; // 46px
				text-decoration: none;
				text-transform: uppercase;
				&:hover {
					color: $gold;
				}
				&.active {
					display: block;
				}
			}
			article {
				height: 100%;
				padding: 2.5em 0;
				background: $purple-alt;
				.section__content {
					height: 100%;
					position: static;
					top: initial;
					overflow: hidden;
					-webkit-transform:translate(0, 0);
					   -moz-transform:translate(0, 0);
					    -ms-transform:translate(0, 0);
					     -o-transform:translate(0, 0);
					        transform:translate(0, 0);
				}
				.section__content-inner {
					width: 80%;
				}
				.section__title {
					h2 {
						color: $white;
						font-size: 2.5em;
						padding-top: 75px;
						background: url('images/icons/book-ticket.png') center top no-repeat;
					}
					em {
						color: $gold;
						font-size: 1.25em;
					}
				}
			}
			.booknow-popup {
				display: none;
				&.active {
					display: block;
				}
				form {
					width: 100%;
					margin: 0;
					overflow: auto;
					.eventbrite__options {
						float: left;
						margin-top: 1.125em;
						.iconlist {
							margin-bottom: 0.4375em;
							li {
								margin: 0;
								font-size: 0.9375em;
							}
						}
						img {
							width: 8.1875em;
							margin: 0;
						}
					}
				}
				table {
					table-layout: fixed;
					width: 100%;
					border-bottom: 1px solid $purple;
				}
				tr {
					th, td {
						padding: 0.5em 0;
						vertical-align: top;
						&:first-child {
							text-align: left;
						}
						span, .more-info {
							display: inline-block;
							padding: 0.25em 0 0;
							font-size: 0.7em;
							line-height: 1.25em;
						}
						span {
							display: none;
							overflow: hidden;
						}
						.more-info {
							font-family: "adobe-garamond-pro", serif;
							font-style: italic;
							text-decoration: none;
						}
						.more-info:before {
							content: 'More information';
						}
					}
					th {
						text-transform: uppercase;
						&.type { width: 60%; text-align: left; }
						&.price { width: 20%; }
						&.quantity { width: 20%; }
					}
					td {
						
					}
					input {
						width: 2.25em;
						background: $purple-alt;
						border: 1px solid $white;
						color: $white;
						font-size: 0.8em;
						line-height: 1.6875em;
						text-align: center;
					}
					&:last-child {
						td {
							padding: 0.5em 0 0.9em;
						}
					}
					&.open {
						.more-info:before {
							content: 'Less information';
						}
					}
				}
				.cta-button {
					float: right;
					margin: 1em 0 0;
				}
			}
		}
		&.open {
			left: 0;
			height: 100%;
			opacity: 1;
		}
	}

}

@media (min-width: 960px) {

	#event {
		#event__bookticket {
			width: 50%;
			&.open {
				left: 50%;
			}
		}
	}

}

@media (min-width: 640px) and (max-width: 959px), (min-width: 1600px) {

	#event {
		#event__bookticket {
			#bookticket__content {
				.booknow-popup {
					tr {
						th, td {
							font-size: 1.25em;
						}
					}
				}
			}
		}
	}

}

@media (max-width: 480px), (min-width: 960px) and (max-width: 1599px) {

	#event {
		#event__bookticket {
			#bookticket__content {
				article {
					.section__title {
						margin-bottom: 2em;
						h2 {
							padding-top: 0;
							background: none;
						}
					}
				}
			}
		}
	}
}

@media (max-width: 480px), (min-width: 960px) and (max-width: 1279px) {

	#event {
		#event__bookticket {
			#bookticket__content {
				#bookticket__close {
					width: 0;
					padding-right: 2.3em;
					overflow: hidden;
					text-indent: 50em;
				}
			}
		}
	}

}

@media (min-width: 960px) and (max-width: 1139px) {

	#event {
		#event__bookticket {
			#bookticket__content {
				article {
					padding: 1.5em 0;
					.section__title {
						margin-bottom: 1em;
						h2 {
							font-size: 2em;
						}
						em {
							font-size: 1.125em;
						}
					}
					.cta-button { font-size: 1em; }
				}
			}
		}
	}

}

#social {
	background: $black url('images/assets/backgrounds/social.jpg') center bottom no-repeat;
	background-size: 100%;
	.section__content {
		position: static;
		top: initial;
		margin: 4.6875em auto !important;
		-webkit-transform:translate(0, 0);
		   -moz-transform:translate(0, 0);
		    -ms-transform:translate(0, 0);
		     -o-transform:translate(0, 0);
		        transform:translate(0, 0);
	}

	.social__grid {
		width: 100%;
		margin-top: 3.5em;
		overflow: auto;
		.social__block, .w2xh2 {
			width: 100%;
		}
		.social__block {
			position: relative;
			float: left;
			padding: 0.125%;
			.social__block-inner {
				position: relative;
				width: 100%;
				height: 100%;
				background: $purple;
			}
			.social__block-content {
				width: 100%;
				height: 100%;
				padding: 17% 8.5% 17.5%;
				overflow: hidden;
				text-align: left;
				p { margin-bottom: 0; }
			}
			&.instagram .social__block-content {
				padding: 0;
				img {
					width: 100%;
				}
			}
			p {
				color: $white;
				line-height: 1.25em;
				&:last-child {
					position: absolute;
					bottom: 8.5%;
					margin-bottom: 0;

				}
				small {
					font-size: 0.7857em;
					text-transform: uppercase;
					a {
						color: $purple-light;
						text-decoration: none;
					}
				}
			}
		}
		.twitter .social__block-content {
			background: url('images/icons/social/wall/twitter.png') 91.5% 91.5% no-repeat;
		}
		.instagram .instagram__overlay {
			position: absolute;
			bottom: 4.25%;
			right: 4.25%;
			width: 19px;
			height: 19px;
			background: url('images/icons/social/wall/instagram.png') center center no-repeat;
		}
		.w2xh2 {
			float: left;
			overflow: auto;
			.social__block {
				width: 50%;
				padding: 0.5%;
				.social__block-inner {
					
				}
			}
			.instagram .instagram__overlay {
				bottom: 8.5%;
				right: 8.5%;
			}
		}
	}

}

#offers {
	background: $black url('images/assets/backgrounds/offers.jpg') center top no-repeat;
	background-size: 100%;
	.section__content {
		position: static;
		top: initial;
		margin: 12.5em auto !important;
		-webkit-transform:translate(0, 0);
		   -moz-transform:translate(0, 0);
		    -ms-transform:translate(0, 0);
		     -o-transform:translate(0, 0);
		        transform:translate(0, 0);
	}
	h2 {
		font-size: 1.875em;
	}
	form {
		width: 45em;
		max-width: 100%;
		margin: 0 auto;
		padding: 0 20px;
	    label {
	        input {
	            text-align: center;
	        }
	    }
	    .cta-button {
	    	display: block;
	    }
	}
}

#overlay__close {
	display: none;
	padding-right: 71px;
	background: url('images/icons/close.png') right center no-repeat;
	color: $white;
    font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
	font-size: 1.25em;
	line-height: 46px;
	text-decoration: none;
	text-transform: uppercase;
	&:hover {
		color: $gold;
	}
}

.overlay {
	h3 {
		font-size: 1.25em;
		margin-bottom: 0.66667em;
	}
	.tab__buttons {
		z-index: 90;
	}
	section {
		.section__content {
			position: relative;
		}
	}
	aside {
		width: 390px;
		margin: 0 0 2em 25px;
		float: left;
		text-align: left;
		p {
			margin: 0 auto 0.25em !important;
		}
	}
}

#overlay--contact {
	@extend .overlay;
}

#contact {
	background: $purple-dark;
	form {
		label:nth-child(1),
		label:nth-child(2) {
			padding-top: 0;
		}
		label:nth-child(5) {
			padding-bottom: 0;
		}
		.message { width: 100%; }
	}
}

#faqs {
	background: $purple-dark;
	.faqs {
		max-width: 1140px;
		margin: 0 auto;
	}
	.faq {
		max-width: 32em;
		border-bottom: 1px solid $grey;
		text-align: left;
		&:last-child {
			border-bottom: 0;
		}
		h3:before, h3:after {
        	-webkit-backface-visibility: hidden;
			-webkit-transition: all 0.3s ease, margin 0s 0.3s ease;
               -moz-transition: all 0.3s ease, margin 0s 0.3s ease;
                -ms-transition: all 0.3s ease, margin 0s 0.3s ease;
                 -o-transition: all 0.3s ease, margin 0s 0.3s ease;
                    transition: all 0.3s ease, margin 0s 0.3s ease;
		}
		h3 {
			position: relative;
			padding-left: 2.8125em;
			margin: 0.8em 0;
			cursor: pointer;
			font-size: 1em;
            &:before, &:after {
            	content: '';
            	position: absolute;
            	top: 12.5%;
            	left: 0;
            	z-index: -1;
            	width: 1px;
            	margin: 0 0.5em;
            	height: 75%;
            	background: $white;
            }
        	&::after {
            	-webkit-transform: rotate(90deg);
				   -moz-transform: rotate(90deg);
				    -ms-transform: rotate(90deg);
				     -o-transform: rotate(90deg);
				        transform: rotate(90deg);
        	}
        	&::before {
            	-webkit-transform: rotate(0deg);
				   -moz-transform: rotate(0deg);
				    -ms-transform: rotate(0deg);
				     -o-transform: rotate(0deg);
				        transform: rotate(0deg);
            }
            
		}
		&.active {
			h3 {
	            &::before {
	            	-webkit-transform: rotate(-45deg);
					   -moz-transform: rotate(-45deg);
					    -ms-transform: rotate(-45deg);
					     -o-transform: rotate(-45deg);
					        transform: rotate(-45deg);
	            }
	            &::after {
	            	-webkit-transform: rotate(45deg);
					   -moz-transform: rotate(45deg);
					    -ms-transform: rotate(45deg);
					     -o-transform: rotate(45deg);
					        transform: rotate(45deg);
	            }
            }
        }
		p {
			max-height: 0;
			padding-left: 2.8125em;
			margin-bottom: 0;
			overflow: hidden;
        	-webkit-backface-visibility: hidden;
			-webkit-transition: all 0.3s ease;
               -moz-transition: all 0.3s ease;
                -ms-transition: all 0.3s ease;
                 -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;
		}
		&.active {
			p {
				max-height: 8em;
				margin-bottom: 1em;
			}
		}
	}
}

#location {
	background: $purple-dark url('images/assets/backgrounds/location.jpg') center center no-repeat;
	background-size: cover;
	.section__content {
		position: relative;
		padding-bottom: 1.25em;
	}
	.section__title {
		margin-bottom: 2.25em;
	}
	img {
		margin: 0 auto 3.75em;
	}
}

.iconlist {
	li {
	    display: inline-block;
	    margin-top: 1em;
	    margin: 0 1em 1em;
	    font-family: "futura-pt", Futura, "Trebuchet MS", Arial, sans-serif;
	    font-size: 1.125em;
	    text-transform: uppercase;
	    a {
	    	display: block;
	    	padding-left: 26px;
	    	background-position: left top;
	    	background-repeat: no-repeat;
	        color: $gold;
	        font-weight: 500;
	        overflow: hidden;
	        letter-spacing: 2px;
	        line-height: 18px;
	        text-decoration: none;
	        &:hover { 
	        	background-position: left bottom;
	        	color: $white; 
	        }
	    }
	    // Social
    	&.twitter a { background-image: url('images/icons/social/twitter.png'); }
		&.facebook a { background-image: url('images/icons/social/facebook.png'); }
		&.instagram a { background-image: url('images/icons/social/instagram.png'); }
		// Event
		&.tickets a { background-image: url('images/icons/tickets.png'); }
		&.menu a { background-image: url('images/icons/menu.png'); }
		&.location a { background-image: url('images/icons/location.png'); }
		&.noicon a {
			padding-left: 0;
			background: none;
		}
	}
}

/* Static page */

#main-content {
	background: $purple-dark-alt;
	#content {
		width: 1140px;
		max-width: 93.75%;
		margin: 0 auto;
		padding: 5em 0;
		h1, h2, h3, h4, ul, ol {
			margin-bottom: 1em;
		}
		ul, ol {
			padding-left: 2em;
		}
		h1 {
			color: $white;
			text-align: center;
		}
		p, li {
			color: $grey;
		}
	}
}
#secondary {
	display: none;
}

@media (min-width: 1365px) {

	#main-content {
		#content {
			padding: 10em 0;
		}
	}

}

@media (max-width: 959px) {

	#event {
		> section {
			float: none;
			width: 100%;
		}
		#event__dates {
			display: block !important;
		}
		#event__acts {
			position: absolute;
			top: 0;
		}
	}

}

@media (min-width: 960px) {

	#event {
		> section {
			display: block !important;
		}
		#event__acts {
			width: 50% !important;
		}
		> .mobiletabs {
			display: none;
		}
	}

}

@media (max-width: 1024px) {

	.testimonial {
		article {
			.section__content-inner {
				width: 75%;
			}
		}
	}

	#event {
		.tab__buttons {
			a {
				font-size: 2em;
			}
		}
	}

	#social {
		li {
			width: 16px;
		}
	}

}



@media (max-width: 1199px) {

	.overlay {
		form {
			width: 100%;
			max-width: 725px;
			margin: 0 auto 2em;
		}
		aside {
			width: 50%;
			min-width: 320px;
			margin: 0 0 2em;
			padding: 0 20px;
			float: left;
			text-align: left;
		}
	}

}

@media (min-width: 1200px) {

	.overlay {
		form {
			float: left;
			width: 725px;
			padding: 0 65px;
			label {
				input {
					width: 277px;
				}
			}
		}
	}

}

@media (min-width: 1024px) {

	#faqs {
		.faq {
			width: 45%;
			float: left;
			&:nth-child(even) {
				margin-left: 5%;
			}
			&:nth-child(odd) {
				margin-right: 5%;
				clear: left;
			}
			&:nth-last-child(2), &:last-child {
				border-bottom: 0;
			}
		}
	}

}

@media (min-width: 1024px) and (max-width 1280px) {

	#faqs {
		.faq {
			h3 {
				font-size: 1em !important;
			}
		}
	}

}

@media (min-width: 1024px) {

	#social {
		.social__grid {
			.social__block, .w2xh2 {
				width: 50%;
			}
			&.blocks--4 {
				.social__block, .w2xh2 {
					width: 100%;
				}
				.w2xh2 .social__block {
					width: 50%;
				}
			}
		}
	}

}

@media (min-width: 1600px) {

	#social {
		.social__grid {
			.social__block, .w2xh2 {
				width: 25%;
			}
			.social__block {
				p {
					font-size: 0.9375em;
				}
			}
			&.blocks--5 {
				.social__block, .w2xh2 {
					width: 50%;
				}
			}
			&.blocks--4 {
				.social__block, .w2xh2 {
					width: 100%;
				}
				.w2xh2 {
					.social__block {
						width: 25%;
					}
					.social__block:nth-child(3) {
						float: right;
					}
				}
			}
		}
	}

}

.ajaxloader {
	display: none;
	&.loading {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 70;
		display: block;
		width: 100%;
		height: 100%;
		background: $black url('images/icons/loader.gif') center center no-repeat;
		opacity: 0.5;
	}
}

@media (max-width: 1365px), (max-height: 959px) {

	.overlay {
		section {
			padding: 4em 0;
			.section__content {
				width: auto;
				margin: 0 20px;
				top: auto;
				-webkit-transform:translate(0, 0);
				   -moz-transform:translate(0, 0);
				    -ms-transform:translate(0, 0);
				     -o-transform:translate(0, 0);
				        transform:translate(0, 0);
			}
		}
	}

	#overlay--contact {
		> section {
			display: block !important;
		}
		.tab__buttons {
			display: none;
		}
	}

	#faqs {
		background: #140D22;
		.faq {
			margin: 0 auto;
		}
	}

}

@media (max-width: 400px) {

	#faqs {
		.faq {
			h3 {
				padding-left: 2.25em;
			}
		}
	}

}

@media (min-width: 1366px) and (min-height: 960px) {

	#overlay__close {
		position: fixed;
		top: 208px;
		right: 85px;
		z-index: 100;
		&.active {
			display: block;
		}
	}
	.nav-minified #overlay__close {
		top: 180px;
	}

	.overlay {
		position: fixed;
		top: 0;
		z-index: 85;
		height: 0;
		width: 100%;
		opacity: 0;
		-webkit-transition: opacity 0.7s 0.6s ease, height 0s 1.0s;
		   -moz-transition: opacity 0.7s 0.6s ease, height 0s 1.0s;
		     -o-transition: opacity 0.7s 0.6s ease, height 0s 1.0s;
		        transition: opacity 0.7s 0.6s ease, height 0s 1.0s;
		section {
			height: 100%;
			padding-top: 130px;
			.section__content {
				margin: 0 auto;
				max-width: 1140px;
				opacity: 0;
				-webkit-transition: opacity 0.3s 0.0s ease;
				   -moz-transition: opacity 0.3s 0.0s ease;
				     -o-transition: opacity 0.3s 0.0s ease;
				        transition: opacity 0.3s 0.0s ease;
			}
		}
		&.open {
			height: 100%;
			opacity: 1.0;
			-webkit-transition: opacity 0.7s 0.0s ease;
			   -moz-transition: opacity 0.7s 0.0s ease;
			     -o-transition: opacity 0.7s 0.0s ease;
			        transition: opacity 0.7s 0.0s ease;
			section {
				.section__content {
					opacity: 1;
					-webkit-transition: opacity 0.3s 0.7s ease;
					   -moz-transition: opacity 0.3s 0.7s ease;
					     -o-transition: opacity 0.3s 0.7s ease;
					        transition: opacity 0.3s 0.7s ease;
				}
			}
		}
	}

}

@media (min-width: 1366px) {

	.overlay {
		section {
			.section__content {
				margin: 0 auto;
				max-width: 1140px;
			}
		}
	}

	#faqs {
		.faq {
			h3 {
				font-size: 1.25em;
				padding-left: 2.25em;
			}
		}
	}

}

@media (max-width: 640px) {

	#event {

		#event__dates {
			.section__content {
				.dates__day {
					font-size: 2em;
				}
				.dates__date {
					padding-bottom: 0;
					margin-bottom: 1em;
					background: none;
					img {
						height: 6.25em;
					}
				}
			}
		}
	}

}

@media (max-width: 400px) {

	#event {

		#event__dates {
			.section__content {
				.dates__date {
					img {
						height: 5em;
					}
				}
			}
		}
	}

	#faqs {
		.faq {
			p {
				font-size: 1em;
			}
		}
	}

}