@import url(reset.css);

/*
	Floated two column elastic layout (including hacks for IE 5.x, IE 6 and Netscape 6)
	Please see CSS Mastery (Advanced Web Standards Solutions) by Andy Budd for more details
*/
body {
	font-family: Verdana, Geneva, Arial, sans-serif;
	/* font-family: "Myriad Pro","Myriad Web","Lucida Grande","Trebuchet MS","Tahoma","Helvetica","Arial",sans-serif; */
	font-size: 62.5%; /* 1em now equals 10 pixels */
	min-width: 760px; /* Netscape 6 hack to ensure content can be accessed in small window */
	text-align: center; /* IE 5.x and IE 6 hack in quirks mode */
}

#wrapper {
	width: 92em;
	max-width: 95%;
	margin: 3em auto 0 auto;
	text-align: left; /* IE 5.x and IE 6 hack in quirks mode */
	position: relative;
}

#content {
    width: 65em;
	margin: 0 auto;
}

h1 {
	font-size: 3.5em;
	line-height: 1.1;
	letter-spacing: -1px;
	border-bottom: 1px dotted black;
	margin-top: 1em;
	margin-bottom: 0.5em;
}

h1 em {
	font-size: 0.5em;
}

p {
	margin-top: 0.7em;
	font-size: 1.4em;
	line-height: 1.2em;
}

form {
	margin-top: 3em;
	margin-bottom: 2em;
}

fieldset {
	border: 1px solid #ccc;
	background: #f8f8f8;
	width: 190px;
	
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;

	-webkit-box-shadow: 4px 4px 18px #666;
	-moz-box-shadow: 4px 4px 18px #666;
	box-shadow: 4px 4px 18px #666;
	
	padding: 3em;
}

legend {
}

label {
	display: block;
}

form input {
    padding-top: .5em;
}

form p#submit {
	text-align: center;
	margin-top: 2em;
}

form #submit-button {
	padding: .4em;
    cursor: pointer;
}

form #submit-button:hover {
    background-color: rgb(50,150,0);
    color: rgb(255,255,255);
}

.clear {
	clear: both;
}
