@import url(reset.css);
@import url(optin.css);

#wrapper {
	background-position: 76% 67%;
}

#gold-frame {
	position: relative;
	background-image: url("../img/gold-frame-animoto.png");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	width: 566px;
	height: 333px;
	z-index: 1;
}

#gold-frame #animoto-video {
	position: absolute;
	margin-left: 67px;
	margin-top: 47px;
}

#wrapper p.every-saturday {
	margin-left: 510px;
	margin-top: 85px;
}
