@import url(reset.css);
@import url(optin.css);

#wrapper {
	background-position: 76% 1.7%;
	height: 820em;
}

#centered {
	width: 77em;
	text-align: center;
	margin: 0 auto;
	margin-top: 45em;
    padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 20px;
}

#centered p {
	margin-top: 3em;
	color: white;
}

#centered p img {
	border: 5px solid white;
	-webkit-box-shadow: 3px 3px 18px white;
	-moz-box-shadow: 3px 3px 18px white;
	box-shadow: 3px 3px 18px white;
}

#gold-frame {
	position: relative;
	background-image: url("../img/gold-frame-animoto.png");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	width: 566px;
	height: 333px;
	z-index: 1;
}

#gold-frame #animoto-video {
	position: absolute;
	margin-left: 67px;
	margin-top: 47px;
}

#testimonial {
	margin-top: 17em;
}

#single .description {
	color: white;
	font-size: 1.7em;
	font-weight: normal;
	margin-right: 50px;
	margin-left: 50px;
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

h2 {
	margin-top: 2em;
	margin-bottom: 1em;
	border: 2px solid white;
}

#wrapper p.every-saturday {
	margin-left: 510px;
	margin-top: 85px;
}

