@import url(reset.css);

html {
	height: 100%;
}

body {
	text-align: center; /* IE 5.x and IE 6 hack in quirks mode */
	min-width: 760px; /* Netscape 6 hack to ensure content can be accessed in small window */
	font: 62.5%/1.6 "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
	line-height: 1.6;
	background-color: black;
	height: 100%;
}


/* =LAYOUT
Floated two column elastic layout (including hacks for IE 5.x, IE 6 and Netscape 6)
Please see CSS Mastery (Advanced Web Standards Solutions) by Andy Budd for more details
--------------------------- */
#wrapper {
	background-image: url("../img/burlesque-dancer-with-pink-feathers.png");
	background-repeat: no-repeat;
	background-position: 55% 40%;
	width: 95em;
	margin: 0 auto;
	text-align: left;
	height: 92em;
	min-height: 100%;
}

#header {
}

#content {
}

#main {
	width: 40em; 
	float: left;
	padding-top: 10px;
}

#sidebar {
	position: relative;
	width: 25em;
	float: right;
}

#footer {
	clear: both;
	text-align: center;
	margin: 0;
	border-top: 1px solid white;
	font-size: 0.9em;
}

#footer p {
    padding-top: 5px;
    padding-bottom: 5px;
	background-color: #861200;
	color: white;
	margin: 0;
}


/* =TYPOGRAPHY
--------------------------- */
p, li {
	font-size: 1.45em;
}

h2, h3 {
	font-family: Georgia, serif;	
}

h1, h2, h3, p {
	margin-top: 0.7em;
	margin-bottom: 0.4em;
	margin-left: 0px;
	margin-right: 0px;
}

#optin h1 {
	text-indent: -999em;
	margin: 0;
	margin-top: -0.5em;
}

h1 em {
	color: white;
}

h2 {
	color: white;
	font-size: 2.6em;
	font-weight: normal;
}

h3 {
	color: black;
	font-size: 2.0em;
	font-weight: normal;
}

h3 em {
	font-size: 0.8em;
	color: black;
	font-style: normal;
}

h4 {
	font-size: 1.4em;
	font-weight: normal;
	color: #ab1931;
}

/* =LINKS
--------------------------- */
a {
	text-decoration: underline;
}

a:link {
	color: white;
}


a:visited {
	color: white;
}

a:active {
	color: #FF4AB2;
}


/* =FORM
--------------------------- */
form {
	color: white;
	margin-top: 3em;
}

form.optin fieldset {
    border: 1px dashed grey;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 2em;
	padding-bottom: 2em;
}

form.optin dl dt.submit button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: .5em;
    cursor: pointer;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    width: 80%;
}

form.optin dl,dt,dd { /* labels */
    margin: 0em 0em 0.5em 0.25em;
}

form.optin dl dd input {
    padding: .5em;
    width: 90%;
}

form.optin dl dt.privacy-policy {
    text-align: center;
	color: white;
	font-size: 1.2em;
} 

form.optin dl dt label {
    font-size: 1.7em;
}

fieldset {
	margin: 0;
	padding: 1em;
	border: 1px solid #ccc;
}

fieldset p {
	color: yellow;
    padding-left: 5px;
	font-size: 1.3em;
	line-height: 1.2em;
	margin-bottom: 1em;
}

fieldset h3 {
    padding-left: 25px;
    padding-right: 25px;
}

legend {
	font-weight: bold;
	padding-left: 1px;
	padding-right: 1px;
}


/* =SPECIALS
--------------------------- */
em {
	font-size: 1.1em;
	font-style: italic;
	color: #ffff00;
}

strong {
	font-weight: bold;
}

.clear {
	clear: both;
}

#wrapper #sidebar p.ten-pounds-off {
	position: absolute;
	background: url("../img/ten-pounds-off.png") no-repeat 0 0;
    width: 154px;
	height: 142px;
	z-index: 3;
	margin-left: -95px;
	margin-top: -38px;
}


/* =SLIDESHOW
--------------------------- */
#gold-frame {
	position: relative;
	background-image: url("../img/gold-frame-optin.png");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	width: 438px;
	height: 297px;
	z-index: 1;
}

#slideshow {
	position: absolute;
    width: 334px;
    height: 212px;
	z-index: 2;
	margin-left: 45px;
	margin-top: 38px;
}


#testimonial {
	position: absolute;
	background-image: url("../img/london-burlesque-testimonial.png");
	background-repeat: no-repeat;
	width: 230px;
	height: 95px;
	z-index: 3;
	margin-top: 3em;
	margin-left: 3em;
}

/* =DIALOGS
--------------------------- */
.ui-dialog .ui-dialog-titlebar {
	background-color: #5E2980; background-image: none; color: white;
	font-size: 1.5em;
}

.ui-dialog {
    text-align: left;
}