body#slideup {
	text-align: center; /* IE 5.x and IE 6 hack in quirks mode */
	min-width: 760px; /* Netscape 6 hack to ensure content can be accessed in small window */
	font: 62.5%/1.6 "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
}

#slideup {
    position: fixed;
    bottom: 0;
    left: 0;
	width: 100%;
    height: 74px;
    background: url("../img/slideup-bg.png") repeat-x;
    border-top: 2px solid #ddcd9c;
    display: none; /* important! */
}

#slideup .content {
	text-align: left; /* IE 5.x and IE 6 hack in quirks mode */
    width: 96em;
    margin: 0 auto;
    color: white;
    font-size: 1em;
}
#slideup .content .primary {
    width: 85%;
    float: left;
    display: inline;
}

#slideup .content .secondary {
    width: 15%;
    float: right;
    display: inline;
}

#slideup .content .primary .primary {
    width: 19%;
    float: left;
    display: inline;
}

#slideup .content .primary .secondary {
	width: 75%;
	float: right;
    display: inline;
}

#slideup .content .primary .primary .win {
    position: absolute;
    background-image: url("../img/ten-pounds-off-each-ticket.png");
    background-repeat: no-repeat;
    width: 250px;
    height: 89px;
    bottom: 2px;
    margin-bottom: 0em;
}

#slideup .content .secondary .tagline {
    text-align: left;
    margin-top: 5px;
    font-size: 1.3em;
    font-weight: 800;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
}

#slideup .content .secondary .tagline strong {
    color: white;
    font-weight: bold;
}

#slideup .textbox {
    width: 211px;
    height: 16px;
    padding: 2px 5px;
    margin-right: 5px;
    color: black;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
    font-size: 12px;
    border: 2px solid #ddcd9c;
    background-color: white;
    float: left;
}

#slideup .submit {
    float: left;
    width: 97px;
    height: 22px;
    border: 0px;
    margin-left: 5px;
    margin-right: 5px;
    color: #dae6ee;
    background: url("../img/slideup-subscribe.png") no-repeat;
}

#slideup .submit:hover {
    background: url("../img/slideup-subscribe-hover.png") no-repeat;
}

#slideup .content .secondary .close {
    margin-top: 10px;
    float: right;
    text-align: right;
}

#slideup .content .secondary .close a {
    color: #ffffff;
    font-weight: bold;
}

#slideup .content .secondary .close a:hover {
    color: #ffe063;
}

#slideup .dont-show {
    margin-top: 17px;
}
