@import url("reset.css");

/*
	Floated two column elastic layout (including hacks for IE 5.x, IE 6 and Netscape 6)
	Please see CSS Mastery (Advanced Web Standards Solutions) by Andy Budd for more details
	Second edition, p. 223/224.
*/

body {
	text-align: center; /* IE 5.x and IE 6 hack in quirks mode */
	min-width: 760px; /* Netscape 6 hack to ensure content can be accessed in small window */
}

#wrapper {
	margin: 0 auto;
	text-align: left; /* IE 5.x and IE 6 hack in quirks mode */
	background: black url("../img/background-curtains.png") repeat-x 0 0;
}


/* =SITE LAYOUT
--------------------------- */
#wrapper #background-wrapper {
    background-image: url("../img/background-fabric.png");
    background-repeat: repeat-xy;
    background-position: 0% 0%;
}

#wrapper #content {
    width: 96em; 
    margin: 0 auto;
}

#whats-on #wrapper #content,
#whats-on-fridays #wrapper #content,
#reviews #wrapper #content,
#press #wrapper #content,
#faq #wrapper #content,
#contact #wrapper #content,
#privacy #wrapper #content,
#terms-of-use #wrapper #content,
#already-subscribed #wrapper #content,
#xmas #wrapper #content,
#photos #wrapper #content,
#new-year #wrapper #content,
#hen-parties #wrapper #content,
#taster #wrapper #content,
#bloomsbury-ballroom #wrapper #content {
	position: relative;
    background-color: #FFFFFF;
	text-align: left;
	margin-top: 25px;
	margin-bottom: 30px;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;
	-webkit-box-shadow: 4px 4px 18px #666;
	-moz-box-shadow: 4px 4px 18px #666;
	box-shadow: 4px 4px 18px #666;
    border: 4px solid #DDCD9C;
}

#whats-on-fridays #wrapper #content #main {
    width: 58%;
}

#wrapper #content #main {
    width: 60%;
    float: left;
    padding-left: 60px;
	padding-bottom: 20px;
}

#wrapper #content #sidebar {
	width: 32%;
	float: right;
	padding-right: 70px;
	margin-top: 1.5em;
	margin-bottom: 1.6em;
}

#centered {
	width: 70em;
	text-align: center;
	margin: 0 auto;
    padding-left: 100px;
	padding-right: 100px;
	padding-bottom: 20px;
}

/* =HOME
--------------------------- */
#home #wrapper #content-wrapper {
    background: url("../img/background-home.png") no-repeat top left scroll;
    width: 96em;
	margin: 0 auto;
}

#home #wrapper #home-content {
	margin: 0 auto;
	width: 96em;
}

#home #wrapper #home-content #main {
    width: 50%;
    margin: 0;
    float: left;
	padding-bottom: 20px;
	display: inline;
}

#home #wrapper #home-content #sidebar {
    width: 42%;
	margin-bottom: 1.6em;
	float: right;
	display: inline;
}

#home #gold-frame {
	position: relative;
	background-image: url("../img/gold-frame.png");
	background-repeat: no-repeat;
	background-position: 0% 0%;
	width: 400px;
	height: 267px;
	margin-top: 10px;
	float: left;
	z-index: 1;
}

#home #gold-frame .video {
	display: block;
	position: absolute;
	margin-left: 38px;
	margin-top: 57px;
}

#home #book-tickets {
    margin-top: 20px;
    margin-left: 60px;
} 

#home #partner-logos {
    margin-top: 20px;
    margin-left: 45px;
} 

#home #footer #feather {
    position: absolute;
    background-color: transparent;
    background-image: url("../img/feather.png");
    background-repeat: repeat-x;
    width: 150px;
    height: 40px;
    margin-left: -75px;
    bottom: 76px;
    left: 50%;
}

/* =HEADER
--------------------------- */
#header {
	width: 96em;
	height: 152px;
	margin: 0 auto;
	padding: 0;
}

#header h1 {
    display: none;
}

#new-year #new-years-details h3 {
	text-align: left;
	margin-top: 40px;
	margin-left: 85px;
}

#bloomsbury-ballroom #bloomsbury-ballroom-details h3 {
	text-align: left;
	margin-top: 40px;
	margin-left: 82px;
}

#header #logo {
    position: absolute;
    background: url("../../wp-content/themes/absolute/images/assets/wam-bam_logo-mobile.png ") no-repeat 0 0;
    width: 225px;
    height: 55px;
    margin-left: 0px;
    margin-top: 40px;
    float: left;
    z-index: 2;
}

#header #act {
    position: absolute;
    float: left;
    background: url("../img/wam-bam-belles-header-no-feathers.png") no-repeat 0 0;
    width: 277px;
    height: 152px;
    margin-left: 372px;
    margin-top: 0px;
    z-index: 1;
}

#header #review {
    position: absolute;
    float: left;
    background: url("../img/time-out.png") no-repeat 0 0;
    width: 340px;
    height: 61px;
    margin-top: 40px;
    margin-left: 620px;
}

/* =NAVIGATION
--------------------------- */
#no-nav {
	list-style: none;
	width: 100%;
	float: left;
	border-top: 2px solid #ddcd9c;
	border-bottom: 2px solid #ddcd9c;
	margin: 0 auto;
}

#navigation {
	height: 2px;
	background: url("../img/navigation-background.png") repeat-x 0 0;
	border-top: 1px solid #ddcd9c;
	border-bottom: 1px solid #ddcd9c;
	margin: 0 auto;
}
#nav-pages {
  /*
  width: 120em;
  margin: 0 auto;
	height: 33px;
  */
}

#home #nav-pages ul li.home,
#whats-on #nav-pages ul li.whats-on,
#whats-on-fridays #nav-pages ul li.whats-on-fridays,
#venue #nav-pages ul li.venue,
#reviews #nav-pages ul li.reviews,
#photos #nav-pages ul li.photos,
#press #nav-pages ul li.press,
#faq #nav-pages ul li.faq,
#contact #nav-pages ul li.contact {
	background: url("../img/navigation-current-page.png") repeat-x 0 0;
}

#home #nav-pages ul li.home a:hover,
#whats-on #nav-pages ul li.whats-on a:hover,
#whats-on-fridays #nav-pages ul li.whats-on-fridays a:hover,
#venue #nav-pages ul li.venue a:hover,
#reviews #nav-pages ul li.reviews a:hover,
#photos #nav-pages ul li.photos a:hover,
#press #nav-pages ul li.press a:hover,
#faq #nav-pages ul li.faq a:hover,
#contact #nav-pages ul li.contact a:hover {
	background: url("../img/navigation-border.png") repeat-y right 0;
	text-decoration: none;
}

#home #nav-pages ul li.home a,
#whats-on #nav-pages ul li.whats-on a,
#whats-on-fridays #nav-pages ul li.whats-on-fridays a,
#venue #nav-pages ul li.venue a,
#reviews #nav-pages ul li.reviews a,
#photos #nav-pages ul li.photos a,
#press #nav-pages ul li.press a,
#faq #nav-pages ul li.faq a,
#contact #nav-pages ul li.contact a {
	color: black;
	font-weight: bold;
}


/* =PHOTOS
--------------------------- */
#photos ul li img {
	-webkit-box-shadow: 4px 4px 18px #666;
	-moz-box-shadow: 4px 4px 18px #666;
	box-shadow: 4px 4px 18px #666;
	margin: 20px 0 20px 0;
}

/* =WHAT'S ON
--------------------------- */
#whats-on #sidebar-with-emphasis,
#whats-on-fridays #sidebar-with-emphasis {
	width: 25%;
	padding-top: 2.5em;
	padding-left: 30px;
	padding-right: 30px;
	float: right;
	background-color: #d4d4d4;
	height: 1700em;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;
}

#whats-on-fridays #sidebar-with-emphasis-fridays {
	height: 80em !important;
}

#whats-on #sidebar-with-emphasis-fridays,
#whats-on-fridays #sidebar-with-emphasis-fridays {
	width: 25%;
	padding-top: 2.5em;
	padding-left: 30px;
	padding-right: 30px;
	float: right;
	background-color: #dcb9ff;
	height: 625em;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;
}

#sidebar-with-emphasis-hen-parties {
	width: 25%;
	padding-top: 2.5em;
	padding-left: 30px;
	padding-right: 30px;
	float: right;
	background-color: #f4d6f2;
	height: 320em;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;
}

#whats-on p img.flyer,
#whats-on-fridays p img.flyer,
#whats-on-fridays p img.photo {
	-webkit-box-shadow: 4px 4px 18px #666;
	-moz-box-shadow: 4px 4px 18px #666;
	box-shadow: 4px 4px 18px #666;
	margin: 20px 0 20px 0;
}

/* =VENUE
--------------------------- */
#venue #wrapper #content-wrapper {
    background: black url("../img/wam-bam-club-venue.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 763px;
}

/* =REVIEWS
--------------------------- */
#reviews #content #main {
    width: 52%;
}

#reviews #content #sidebar {
	width: 32%;
}

#reviews #content #sidebar-with-emphasis {
	width: 25%;
	padding-top: 2.5em;
	padding-left: 30px;
	padding-right: 30px;
	float: right;
	background-color: #d4d4d4;
	height: 1400em;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;
}




/* =FAQ
--------------------------- */
#faq #content #main {
    width: 70%;
}

/* =PRIVACY
--------------------------- */
#privacy #content #main {
    width: 70%;
}

/* =PRIVACY
--------------------------- */
#terms-of-use #content #main {
    width: 70%;
}

/* =TASTER
--------------------------- */
#taster #content #main {
    width: 50%;
}

#taster #content #sidebar {
    width: 28%;
    padding-right: 20px;
    margin-top: 0;
}

#shows {
	margin-top: 2em;
	margin-bottom: 2em;
}

#shows ul {
	list-style-type: square;
	margin-left: 20px;
	margin-top: 10px;
}

#shows li {
	font-size: 1.8em;
	margin-top: 10px;
}

#taster #content #main h3 {
	font-size: 1.8em;
	margin-top: 3.5em;
	margin-bottom: 2em;
}

#taster #content #main h3 a:hover {
	color: #99cc33 !important;
	text-decoration: underline;
}

.animoto-video {
	margin-top: 2em !important;
	text-align: left;
	display: block;
	width: 432px;
	height: 240px;
}


/* =FOOTER
--------------------------- */
html { /* Fix footer at the bottom */
    height: 100%;
}

body { /* Fix footer at the bottom */
    height: 100%;
}

#wrapper  { /* Fix footer at the bottom */
    position: relative;
    min-height: 100%;
    _height: 100%; /* for IE6 as it doesn't understand min-height */
}

#content-wrapper { /* Fix footer at the bottom */
    padding-bottom: 76px;
}

#footer { /* Fix footer at the bottom */
    position: relative;
    margin-top: -76px;
}

#footer {
    border-top: 2px solid #ddcd9c;
	clear: both;
	text-align: center;
}

#footer p {
    padding: 10px;
    font-size: 1.2em;
	margin: 0;
	background-color: #861200;
	color: white;
	line-height: 1.5em;
}

#footer a {
	color: white;
}


/* =ADDRESS
--------------------------- */
address {
	font-size: 1.4em;
	line-height: 1.4em;
	margin: 1em;
}


/* =FIELDSETS
--------------------------- */
fieldset {
	margin: 2em 0;
	padding: 1em;
	border: 1px solid #ccc;
	background: white;
}

fieldset p {
	color: black;
    padding-left: 40px;
}

fieldset h3 {
    padding-left: 25px;
    padding-right: 25px;
}

legend {
	font-weight: bold;
	padding-left: 1px;
	padding-right: 1px;
}


/* =LISTS
--------------------------- */
ul#acts {
	padding-bottom: 5em;
	padding-left: 25px;
	list-style-type: disc;
}

ul#acts li {
	padding-top: 2em;
	padding-bottom: 2em;
}

#acts li {
	font-size: 1.7em;
}

ul#acts li.first {
	padding: 0;
}

ul#acts li p {
	text-align: right;
}

#new-year #new-years-details ul {
	text-align: left;
	list-style-type: none;
	margin-left: 85px;
	padding: 0;
}

#bloomsbury-ballroom #bloomsbury-ballroom-details ul {
	text-align: left;
	list-style-type: none;
	margin-left: 85px;
	padding: 0;
}


#dates ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

#dates ul li {
	font-size: 2.0em;
	font-weight: normal;
	margin: 0;
	padding: 0;
	margin-top: 0.7em;
	margin-bottom: 0.4em;
	margin-left: 0px;
	margin-right: 0px;
}

#dates ul li a {
	font-size: 0.9em;
}

ul.faq li {
    list-style-type: disc;
	font-size: 1.35em !important;
	line-height: 2.1em;
	color: blue;
	text-decoration: none;
	margin-left: 3em;
}

ul.hen-parties li {
    list-style-type: disc;
	font-size: 1.2em !important;
	line-height: 1em;
	color: black;
	text-decoration: none;
	margin-left: 3em;
}

#show-details li {
    list-style-type: disc;
	line-height: 2.1em;
	color: black;
	text-decoration: none;
	margin-left: 3em;
}


/* =LINKS
--------------------------- */
a {
	text-decoration: underline;
}

a:link {
	color: blue;
}


a:visited {
	color: blue;
}

#sidebar-with-emphasis a:hover {
    font-weight: bold;
}

a:active {
	color: #930;
}


/* =OPTIN FORM
--------------------------- */
form.optin fieldset {
    border: solid 0 transparent;
}

form.optin {
    width: 500px;
    margin: 25px auto;
    text-align: center;
    overflow: hidden;
    border: 1px dashed black;
}


form.optin p {
    margin: 0 auto;
    width: 80%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-left: 0;
    padding-right: 0;
}

form.optin dl dt { /* labels */
    clear: both;
    width: 31%;
    float: left;
    text-align: right;
    padding: 1em 1em;
}

form.optin dl dd { /* input fields */
    float: left;
    margin: 0em 0em 0.5em 0.25em;
}

form.optin dl dt.submit { /* submit */
    width: 500px;
    padding-top: 1em;
    padding-bottom: 0em;
} 

form.optin dl dt label {
    font-size: 1.9em;
    color: black;
}

form.optin dl dt.submit button {
    width: 450px;
    padding: .25em;
    cursor: pointer;
    text-align: center;
    margin-right: 50px;
    font-size: 2.2em;
    font-weight: bold;
}

form.optin dl dt.submit button:hover {
    background-color : rgb(50,150,0);
    color: rgb(255,255,255);
}

form.optin dl dd input:hover, form.optin dl dd input:focus {
    background-color: white;
    color: black;
}

form.optin dl dt.privacy-policy {
    width: 450px;
    font-size: 1.2em;
} 

form.optin dl dd input {
    padding: .5em;
    width: 230px;
    font-size: 1.7em;
}


/* =SMALL OPTIN FORM
--------------------------- */
form.small-optin fieldset {
    border: 1px dashed grey;
}

form.small-optin dl dt.submit button {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: .5em;
    cursor: pointer;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
    width: 80%;
}

form.small-optin dl dt.submit button:hover {
    background-color : rgb(50,150,0);
    color: rgb(255,255,255);
}

form.small-optin dl,dt,dd { /* labels */
    margin: 0em 0em 0.5em 0.25em;
}

form.small-optin dl dd input {
    padding: .5em;
    width: 90%;
}

form.small-optin dl dt.privacy-policy {
    text-align: center;
} 

form.small-optin dl dt label {
    font-size: 1.7em;
}


/* =TERMS OF USE
--------------------------- */
ol#terms {
	margin: 0;
	padding: 0;
	margin-top: 1.3em;
	padding: 0;
	line-height: 1.1em;
}

ol#terms li {
	list-style-type: decimal;
	background-repeat: no-repeat;
	padding-left: 0.5em;
	padding-bottom: 10px;
	line-height: 1.2em;
	margin-left: 3em;
}

ol li em {
	line-height: 1.5em;
	font-size: 0.9em;
}

/* =QUOTES
--------------------------- */
.quote {
}

.quote blockquote {
	margin-top: 1em;
	width: 100%;
	float: left;
	text-align: left;
	font-family: Georgia, serif;
	font-size: 140%;
	letter-spacing: -1px;
	line-height: 2em;
	color: #555;
	background: #eee;
}

.quote p img {
	padding: 4px;
	border: 1px solid #a9a9a9;
}

.quote p {
	margin: 0 10px 0 0;
	padding: 20px 20px 0px 20px;
}

.quote p.author {
	margin: 0 10px 0 0;
	padding: 0 0 10px 0;
	color: #999;
	font-size: 1.1em;
	padding: 0 20px 10px 20px;
	letter-spacing: 0px;
}

.quote .quote strong {
	font-weight: bold;
}

/* =SPECIALS
--------------------------- */
.eventbrite-calendar {
    text-align: center; 
    margin-top: 2em; 
    margin-left: -30px;
} 

#slideup {
    z-index: 1;
}

em {
	font-size: 1.1em;
	font-style: italic;
	color: #ab1931;
}

strong {
	font-weight: bold;
}

.frame {
    border: 3px solid #ddcd9c;
	-webkit-box-shadow: 4px 4px 18px #666;
	-moz-box-shadow: 4px 4px 18px #666;
	box-shadow: 4px 4px 18px #666;
}

.image-on-left {
	float: left;
	margin-top: 5px;
	margin-right: 25px;
	margin-bottom: 10px;
}

.offer-box {
    margin-top: 3em;
    margin-bottom: 3em;
	background-color: white;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	border-radius: 3em;
	-webkit-box-shadow: 4px 4px 18px #666;
	-moz-box-shadow: 4px 4px 18px #666;
	box-shadow: 4px 4px 18px #666;
	padding: 30px 70px 30px 60px;
	border: 1px solid #ccc;
}

#content-container p.hot-deal {
	position: absolute;
	background: url("../img/hot-deal.png") no-repeat 0 0;
    width: 400px;
	height: 300px;
	left: -9em;
	top: 10em;
}

#buy-tickets {
	width: 84em;
	text-align: left;
	margin: 0 auto;
    padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 20px;
}

.typekit-badge {
    display:none !important;
}

/* =CLEARFIX
--------------------------- */
.clearfix:before, .clearfix:after { 
    content: ""; 
    display: table; 
}
.clearfix:after { 
    clear: both; 
}
.clearfix { 
    zoom: 1; 
}


/* =TYPOGRAPHY
--------------------------- */
body {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
    font-size: 62.5%; /* The base font size is 10px, which means 1em is 10px, 1.2em is 12px and so on. */
    line-height: 1.5em;
}

h1, h2, h3, h4, h5 {
	margin-top: 1em;
	margin-bottom: 0.4em;
    line-height: 1em;
}

h1 {
    font-size: 400%;
    font-family: adrianna, sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #05031B;
}

h2 {
    font-size: 400%;
    font-family: adrianna, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #05031B;
}

#taster h2 {
    font-size: 310%;
    font-family: adrianna, sans-serif;
    font-weight: 800;
    color: #05031B;
}

h3 {
    font-size: 145%;
    margin-top: 1.2em;
    font-size: 2.4em;
    font-family: adrianna, sans-serif;
    font-weight: 800;
    color: #05031B;
}

h4 {
    margin-top: 1.2em;
    font-size: 1.8em;
    font-family: adrianna, sans-serif;
    font-weight: 600;
    color: #05031B;
    line-height: 1.1em;
}

h5 {
    font-size: 145%;
    margin-top: 1.2em;
    font-size: 2.4em;
    font-family: adrianna, sans-serif;
    font-weight: 800;
    color: #00AAE8;
}

p, li {
    font-size: 1.4em;
    margin: 0 0 1em 0;
    line-height: 1.4em;
}

#nav-pages li a {
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
    font-weight: 100;
}