body#slideup {
	text-align: center; /* IE 5.x and IE 6 hack in quirks mode */
	min-width: 760px; /* Netscape 6 hack to ensure content can be accessed in small window */
	font: 62.5%/1.6 "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
}

#slideup {
    position: fixed;
    bottom: 0;
    left: 0;
	width: 100%;
    height: 67px;
    background: url("../i/slideup-bg.png") repeat-x;
    border-top: 2px solid #ddcd9c;
    display: none; /* important! */
}

#slideup .content {
	text-align: left; /* IE 5.x and IE 6 hack in quirks mode */
    width: 96em;
    margin: 0 auto;
    color: white;
    font-size: 1em;
}
#slideup .content .primary {
    width: 85%;
    float: left;
    display: inline;
}

#slideup .content .secondary {
    width: 15%;
    float: right;
    display: inline;
}

#slideup .content .primary .primary {
    width: 19%;
    float: left;
    display: inline;
}

#slideup .content .primary .secondary {
	width: 74%;
	float: right;
    display: inline;
}

#slideup .content .primary .primary .win {
    position: absolute;
    background-image: url("../i/tickets-dinner-and-champagne.png");
    background-repeat: no-repeat;
    width: 262px;
    height: 104px;
    bottom: 2px;
    margin-bottom: 0.4em;
    margin-left: -44px;
}

#slideup .content .secondary .tagline {
    text-align: left;
    margin-top: 2px;
    font-size: 1.5em;
    font-weight: 800;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
}

#slideup .content .secondary .tagline strong {
    color: #ffe063;
}

#slideup .textbox {
    width: 211px;
    height: 16px;
    padding: 2px 5px;
    margin-right: 5px;
    color: black;
    font-family: "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Verdana, sans-serif;
    font-size: 12px;
    border: 2px solid #ddcd9c;
    background-color: white;
    float: left;
}

#slideup .submit {
    float: left;
    width: 97px;
    height: 22px;
    border: 0px;
    margin-left: 5px;
    margin-right: 5px;
    color: #dae6ee;
    background: url("../i/slideup-subscribe.png") no-repeat;
}

#slideup .submit:hover {
    background: url("../i/slideup-subscribe-hover.png") no-repeat;
}

#slideup .content .secondary .close {
    margin-top: 7px;
    margin-right: -50px;
    float: right;
    text-align: right;
}

#slideup .content .secondary .close a {
    color: #ffffff;
    font-weight: bold;
}

#slideup .content .secondary .close a:hover {
    color: #ffe063;
}

#slideup .dont-show {
    margin-top: 17px;
}
